        <div class="modal-header">
            <h3 class="modal-title">CHECK DOCUMENTS</h3>
        </div>
        <div class="modal-body extra_padding">
            
            Please ensure that this is the document looks correct:
            <ol>
                <li>The name on the document matches</li>
                <li>The expiry of the document matches</li>
                <li>The document looks similar to documents you have already seen</li>
                <li>That you have seen the original document</li>
            </ol>   
            <br />

            Please find the images below:

            <div ng-repeat="image in images">
                <img src="{{image.data_uri}}" />
            </div>
        
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">CANCEL</button>
             <button class="btn btn-info" type="button" ng-click="ok()">I VERIFIED THIS DOCUMENT</button>
        </div>
