<div class="exres-modal exres-modal--cert">

  <div class="exres-modal__header">
    <div class="exres-modal__header-icon"><i class="fas fa-award"></i></div>
    <div>
      <h3 class="exres-modal__title">Certificate</h3>
      <p class="exres-modal__sub">{{ vm.title }}</p>
    </div>
    <a class="exres-modal__close" ng-click="vm.close()"><i class="fas fa-times"></i></a>
  </div>

  <div class="exres-modal__body exres-modal__body--cert">
    <div class="exaudit__loading" ng-if="vm.loading">
      <div class="solo-req__spinner"></div> Decrypting certificate&hellip;
    </div>
    <div class="exaudit__empty snazzy-reveal" ng-if="!vm.loading && vm.error">
      <i class="fas fa-exclamation-triangle"></i>
      <p>{{ vm.error }}</p>
    </div>
    <img class="excert__img" ng-if="!vm.loading && vm.file && vm.file.file_type !== 'pdf'" ng-src="{{ vm.src }}" alt="{{ vm.title }}">
    <iframe class="excert__pdf snazzy-reveal" ng-if="!vm.loading && vm.file && vm.file.file_type === 'pdf'" ng-src="{{ vm.src }}"></iframe>
  </div>

  <div class="exres-modal__footer">
    <a class="solo-btn solo-btn--outline" ng-if="vm.src" ng-href="{{ vm.src }}" download="{{ vm.file.original_name }}">
      <i class="fas fa-download"></i> Download
    </a>
    <button type="button" class="solo-btn solo-btn--ghost" ng-click="vm.close()">Close</button>
  </div>

</div>
