        <div class="modal-header">
            <h3 class="modal-title">REFUND PAYMENTS</h3>
        </div>
        <div class="modal-body">
            
            <b>You are only able to refund up to the maximum for this particular payment, or whatever is remaining on this payment.</b>
            <br />

            Amount you wish to refund to this customer (£{{remaining}} is the maximum):<br />
            <input type="number" name="refund_amount" id="refund_amount" max="{{ remaining }}" ng-model="to_refund" required />
            <br />
            <br />
            Reason for refund<br />
            <input type="text" name="refund_reason" id="refund_reason" ng-model="reason" required />

            <br /><br />
            Please note that refunds from payments processed by ToAviate are final and automtically issued via our third party provider.


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">CANCEL</button>
             <button class="btn btn-danger" type="button" ng-click="ok()">REFUND NOW</button>
        </div>
