<div class="centre_align_boxes2">


    <div class="home_upper">
       <!--  <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div> -->
        
        <div class="welcome_title">
          <h2>{{ vm.aircraft.registration }} JOURNEY LOGBOOK</h2> 
          <h4 class="capitalise">
            See your aircraft journeys
          </h4>
        </div>
    </div>

                 
</div>
<div class="sub_section2 superwide">
    <div class="search_bar2">

        <input type="search" placeholder="Search Journey Logs" ng-model="my_search2" class="form-control fifty_wide centre_me searching_logs" />

    </div>

                  <div class="card">

                    <div class="plane_docs_none centre_me" ng-if="vm.logs.length < 1">
                        There are presently no journey log entries for this aircraft.
                    </div>



                    <div class="" ng-if="vm.logs.length > 0">
                        <div class="mc-table-wrap">
                        <table>
                            <tr>
                                <td class="bold_text">Date</td>
                                <td class="bold_text">Pilot</td>
                                <td class="bold_text centre_me">From</td>
                                <td class="bold_text centre_me">To</td>
                                <td class="bold_text centre_me">Brakes Off</td>
                                <td class="bold_text centre_me">Takeoff</td>
                                <td class="bold_text centre_me">Landing</td>
                                <td class="bold_text centre_me">Brakes On</td>
                                <td class="bold_text centre_me">Flight Time</td>
                                <td class="bold_text centre_me">Brakes Time</td>
                                <td class="bold_text centre_me">Fuel Uplift</td>
                                <td class="bold_text centre_me">Oil Uplift</td>
                            </tr>
                            <tr ng-repeat="log in vm.logs | filter: search2" vertical-align="middle">
                                <td class="log_no_break">{{ log.flight_date | asDate | date:"dd MMM yyyy" }}</td>
                                <td class="log_no_break">
                                    <span uib-tooltip-html="vm.list_pilots(log)">{{ vm.get_pic(log) }}</span>
                                </td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{log.departure_airport_code}}">{{ log.departure_airport }}</span>
                                </td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{log.destination_airport_code}}">{{ log.destination_airport }}</span>
                                </td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{vm.clean_times(log.brakes_off)}} rounded to nearest 5 minute">{{ vm.clean_times(log.brakes_off_rounded) }}</span>
                                </td>
                                <td class="centre_me">{{ vm.clean_times(log.takeoff_time) }}</td>
                                <td class="centre_me">{{ vm.clean_times(log.landing_time) }}</td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{vm.clean_times(log.brakes_on)}} rounded to nearest 5 minute">{{ vm.clean_times(log.brakes_on_rounded) }}</span>
                                </td>
                                <td class="centre_me">{{ get_hours_from_decimal(log.flight_time) || "0:00" }}</td>
                                <td class="centre_me">
                                    <span uib-tooltip="Using rounded minutes for brakes off to brakes on">{{ get_hours_from_decimal(log.brakes_times_rounded) || "0:00" }}</span>
                                </td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{ log.fuel_uplift_litres }} litres">{{ log.fuel_uplift_litres }}</span>
                                </td>
                                <td class="centre_me">
                                    <span uib-tooltip="{{log.oil_uplift_litres}} quarts">{{ log.oil_uplift_litres }}</span>
                                </td>
                            </tr>
                        </table>
                        </div>

                        <div class="mc-cards">
                          <div class="mc-card" ng-repeat="log in vm.logs | filter: search2">
                            <div class="mc-card-header">
                              <span>{{ log.flight_date | asDate | date:"dd MMM yyyy" }}</span>
                            </div>
                            <div class="mc-card-sub">{{ vm.get_pic(log) }}</div>
                            <div class="mc-card-route">
                              <span uib-tooltip="{{log.departure_airport_code}}">{{ log.departure_airport }}</span>
                              <i class="fa fa-long-arrow-right"></i>
                              <span uib-tooltip="{{log.destination_airport_code}}">{{ log.destination_airport }}</span>
                            </div>
                            <div class="mc-card-grid mc-card-grid-3">
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Brakes Off</span>
                                <span>{{ vm.clean_times(log.brakes_off_rounded) }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Takeoff</span>
                                <span>{{ vm.clean_times(log.takeoff_time) }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Landing</span>
                                <span>{{ vm.clean_times(log.landing_time) }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Brakes On</span>
                                <span>{{ vm.clean_times(log.brakes_on_rounded) }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Flight Time</span>
                                <span>{{ get_hours_from_decimal(log.flight_time) || "0:00" }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Brakes Time</span>
                                <span>{{ get_hours_from_decimal(log.brakes_times_rounded) || "0:00" }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Fuel Uplift</span>
                                <span>{{ log.fuel_uplift_litres }}</span>
                              </div>
                              <div class="mc-card-stat">
                                <span class="mc-card-label">Oil Uplift</span>
                                <span>{{ log.oil_uplift_litres }}</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button class="btn btn-primary view_journey_logs" ng-if="!vm.all_loaded" ng-click="vm.load_more()">LOAD MORE</button>  
                        <p class="centre_me" ng-if="vm.all_loaded">You have loaded all the aircraft's journey log...</p>

                    </div>



                </div>


</div>