<div class="centre_align_boxes2">


     <div class="home_upper">
      <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>
        
        <div class="welcome_title">
          <h2>PAYMENTS</h2> 
          <h4 class="capitalise">
            See all payments
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>


<div class="sub_section2 centre_me">
    <div class="cards3" ng-repeat="upcoming in vm.upcoming">

      <h4>{{ upcoming.title }} SUMMARY</h4>
      <div class="upcoming_line" uib-tooltip="Amount of credit on your account">
        <span class="upcoming_title">Account Balance: </span><span class="upcoming_value">{{ upcoming.account_currency }} {{ (upcoming.balance | number:2) || "0.00" }}</span>
      </div>
      <div class="upcoming_line" uib-tooltip="How much you owe this club">
        <span class="upcoming_title">Next Payment: </span><span class="upcoming_value">{{ upcoming.account_currency }} {{ (upcoming.issued_total | number:2) || "0.00" }}</span>
      </div>
      <div class="upcoming_line" uib-tooltip="When the next payment for this club will be requested">
        <span class="upcoming_title">Next Payment Date: </span><span class="upcoming_value">{{ upcoming.collection_date | asDate | date:"dd MMM yyyy" }}</span>
      </div>
      <div class="upcoming_line" uib-tooltip="How much we have already requested but has not yet been received by the club">
        <span class="upcoming_title">Currently Processing: </span><span class="upcoming_value">{{ upcoming.user_currency }} {{ (upcoming.processing | number:2) || "0.00" }}</span>
      </div>
      <div class="upcoming_line" ng-if="upcoming.failed_total && upcoming.failed_total > 0" uib-tooltip="How much we have failed to collect on behalf of the club">
        <span class="upcoming_title no_red">Failed Payments: </span><span class="upcoming_value no_red">{{ upcoming.user_currency }}{{ (upcoming.failed_total | number:2) || "0.00" }}</span>
      </div>

      <div class="card" ng-if="upcoming.packages.length > 0">
        <br />
         <table>
          <!--   <tr>
              <th ><span uib-tooltip="Click for more information">Package Name</span></th>
              <th><span uib-tooltip="Dual hours remaining">Dual</span></th>
              <th><span uib-tooltip="Solo hours remaining">Solo</span></th>
            </tr> -->
            <tr ng-repeat="package in upcoming.packages">
              <td><span uib-popover-html="vm.get_package_html(package)">{{ package.title }} <i class="fa fa-question-circle"></i></span></td>
              <td><span uib-tooltip="Dual hours remaining">{{ vm.convert_decimal_to_hours( package.remaining_hours_dual ) || "00:00" }}</span></td>
              <td><span uib-tooltip="Solo hours remaining">{{ vm.convert_decimal_to_hours( package.remaining_hours_solo ) || "00:00" }}</span></td>
            </tr>
          </table>
        </div>





    </div>

</div>


<div class="sub_section2">

    <input type="search" placeholder="Search Payments" ng-model="my_search" class="form-control searchbar" />

    <div class="">

        <div ng-if="vm.payments.length > 0">

             <table>
                    <tr class="bold_text">
                        <td>
                            Payment ID
                        </td>
                        <td>
                            Club
                        </td>
                         <td>
                            Amount
                        </td>
                         <td>
                            Method
                        </td>
                         <td>
                            Status
                        </td>
                        <td>
                            Date
                        </td>
                        
                    </tr>
                    <tbody ng-repeat="payment in vm.payments | filter: search" vertical-align="middle">
                        <tr>
                            
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.club_title }}</td>
                            <td>{{ payment.currency }}{{ payment.amount | number:2 }}</td>
                            <td>{{ get_human_method(payment.payment_method) }}</td>
                            <td>{{ get_human_status(payment.status) }}</td>
                            <td>{{ payment.created_at | asDate | date:'dd MMM yyyy H:mm' }}</td>

                        </tr>
                      
                    </tbody>
                </table>

        </div>


    </div>



</div>
</div>

