<div class="centre_align_boxes2 courses">


      <div class="home_upper">
          <div class="back-box" ui-sref="dashboard.my_account">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>SYLLABUS</h2> 
            <h4 class="capitalise">
              View club courses
            </h4>
          </div>
      </div>


      <div class="club_docs" >

        <div class="club_docs_all" ng-repeat="club in vm.clubs">
        <h2>{{club.title}} - Courses</h2>

            <div class="card" ng-if="club.courses.length == 0">
              This club doesn't have any courses at the moment...
            </div>

            <div class="card" ng-if="club.courses.length > 0">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Functions</th>
                    </tr>

                    <tr ng-repeat="course in club.courses">
                        <td>{{ course.title }}</td>
                        <td>{{ course.description }}</td>
                        <td><a ui-sref="dashboard.my_account.syllabus_view_course({course_id: course.id, action: 'view'})" uib-tooltip="View Course"><i class="fa fa-angle-double-right list_icons"></i></a> &nbsp; </td>
                    </tr>

                </table>

            </div>
          </div>


        </div>
</div>