<div class="centre_align_boxes2 courses">

    <div class="home_upper">
          <div class="back-box" ui-sref="dashboard.my_account.syllabus({reload: true})">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>SYLLABUS</h2> 
            <h4 class="capitalise">
              View club course syllabus
            </h4>
          </div>
    </div>

    <div class="center_if_large club_docs bookingout_wrapper">



      <div class="club_docs_all">
        <h2>Course: {{ vm.course.title }}</h2>

         <div class="form-group">
          {{ vm.course.description }}
        </div>


      </div>


      <div class="club_docs_all">
        <h2>Lessons</h2>

            <div class="card" ng-if="vm.course.lessons.length == 0">
              There are no lessons in this course yet...
            </div>

            <div class="card" ng-if="vm.course.lessons.length > 0">
                <table>
                    <tr>
                        <th>Lesson</th>
                        <th>Title</th>
                        <th>Functions</th>
                    </tr>
                      <tr ng-repeat="lesson in vm.course.lessons">
                        <td>{{ $index }}</td>
                          <td>{{ lesson.title }}</td>
                          <td>
                            <a ui-sref="dashboard.my_account.syllabus_view_lesson({course_id: vm.course.id, lesson_id: lesson.id, action: 'view'})" uib-tooltip="View Lesson"><i class="fa fa-angle-double-right list_icons"></i></a></a>
                          </td>
                      </tr>

                </table>

            </div>


      </div>

      <div class="club_docs_all">
        <h2>Written Exams</h2>

          <div class="card" ng-if="vm.course.exams.length == 0">
              There are no exams for this course.
            </div>

            <div class="card" ng-if="vm.course.exams.length > 0">
                <table>
                    <tr>
                        <th>Exam Name</th>
                       
                        <th>Description</th>

                    </tr>

                      <tr ng-repeat="exam in vm.course.exams">
                          <td>
                            <span ng-if="!exam.edit_me">{{ exam.title }}</span> 
                            <input ng-if="exam.edit_me" type="text" class="form-control inputtext" name="title" id="title" ng-model="exam.title" />
                          </td>
                          <td>
                            <span ng-if="!exam.edit_me">{{ exam.description }}</span> 
                            <input ng-if="exam.edit_me" type="text" class="form-control inputtext" name="description" id="description" ng-model="exam.description" />
                          </td>
                         
                      </tr>
                      
                    
                </table>

            </div>

             

      </div>

</div>

   

