<div>


  <ui-view>

    

      <!-- cirlce bit with how far along setting up the account you are //-->
      <div class="centre_align_boxes2">

      <div class="home_upper">

        <div class="welcome_title">
          <h2>My Account</h2> 
          <h4 class="capitalise">
            {{vm.user.first_name}} {{vm.user.last_name}}
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>

        <!-- <div ng-if="vm.bookouts.length > 0 || vm.bookings.length > 0 || vm.to_pay.length > 0">
          <h4> Here is your to do list: </h4>
        </div> -->



        <table class="bookout_table">

          <!-- BOOKOUTS TO BE BOOKED IN = PRIMARY / MOST IMPORTANT -->

          <tr ng-repeat="item in vm.bookouts">
            <td>Complete your journey in {{ item.booking.registration }} from: {{ item.booking.start | asDate | date:'HH:mm' }} to: {{ item.booking.end | asDate | date:'HH:mm' }} on {{ item.booking.end | asDate | date:'dd MMM yyyy'}} </td>
            <td>
              <a class="dashboard_action_anchor" ui-sref="dashboard.my_account.book_in({id: item.id})">BOOK IN</a>
            </td>
            <td>
              <a class="dashboard_cancel_anchor" ng-click="vm.cancel_bookout(item.id)">CANCEL</a>
            </td>            
          </tr>



          <tr ng-repeat="item in vm.to_pay">
            <td ng-if="vm.bookouts.length < 1">Complete your booking of {{ item.registration }} </td>
            <td ng-if="vm.bookouts.length < 1">
              <a ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT ANOTHER LEG</a>
            </td>
            <td ng-if="vm.bookouts.length < 1">
              <a ui-sref="dashboard.my_account.finish_and_pay({id: item.id})" class="dashboard_cancel_anchor">FINISH AND PAY</a>
            </td>            
          </tr>


          <!-- ng-if="vm.bookings.length > 0 && ( (vm.bookouts.length < 1 && vm.to_pay.length < 1) || vm.force_show_admins )" -->
          <tr ng-repeat="item in vm.bookings">
            <td ng-if="item.booked_out == 0 || item.booked_out == NULL">Booking today: {{ item.registration }} from: {{ item.start | asDate | date:'HH:mm' }} to: {{ item.end | asDate | date:'HH:mm' }} on {{ item.end | asDate | date:'dd MMM yyyy'}} </td>
            <td ng-if="item.booked_out == 0 || item.booked_out == NULL">
              <a ng-if="(item.instructor_id > 0 && vm.user.id !== item.instructor_id) || item.instructor_id == 0" ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT</a><a ng-if="vm.user.id == item.instructor_id" ui-sref="dashboard.manage_user.briefing_lesson({booking_id: item.id, lesson_id: item.lesson.id})" class="dashboard_action_anchor">BRIEF STUDENT</a>
            </td>
            <td ng-if="item.booked_out == 0">
              <!-- <a ui-sref="dashboard.my_account.finish_and_pay({id: item.id})" class="dashboard_cancel_anchor">FINISH AND PAY</a> -->
              <a class="dashboard_cancel_anchor" ng-click="vm.cancel_booking(item.id)" >CANCEL</a>
            </td>            
          </tr>


      
          <!-- ng-repeat="item in vm.to_complete_split" -->


          <tr ng-repeat="item in vm.to_complete_split">
            <td>
              Complete your booking of {{ item.registration }} 
            </td>
            <td>
              <a ui-sref="dashboard.my_account.book_in({id: item.pls_id})" class="dashboard_cancel_anchor">COMPLETE FLIGHT SPLIT</a>
            </td>
            <td>
              <!-- <a ui-sref="dashboard.my_account.finish_and_pay({id: item.id})" class="dashboard_cancel_anchor">FINISH AND PAY</a> -->
              <a class="dashboard_cancel_anchor" ng-click="vm.cancel_booking(item.id)" >CANCEL</a>
            </td>            
          </tr>




          <!--  <tr ng-repeat="item in vm.to_pay">
            <td>Complete your booking of {{ item.registration }} </td>
            <td>
              <a ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT ANOTHER LEG</a>
            </td>
            <td>
              <a ui-sref="dashboard.my_account.finish_and_pay({id: item.id})" class="dashboard_cancel_anchor">FINISH AND PAY</a>
            </td>            
          </tr> -->

        </table>







        <!-- <div ng-if="vm.bookouts.length > 0" class="dashboard_repeat_items">
          <div ng-repeat="item in vm.bookouts">
            Complete your journey in {{ item.booking.registration }} from: {{ item.booking.start | asDate | date:'HH:mm' }} to: {{ item.booking.end | asDate | date:'HH:mm' }} on {{ item.booking.end | asDate | date:'dd MMM yyyy'}} <a class="dashboard_action_anchor" ui-sref="dashboard.my_account.book_in({id: item.id})">BOOK IN</a>  <a class="dashboard_cancel_anchor" ng-click="vm.cancel_bookout(item.id)">CANCEL</a>
          </div>
        </div>

        <div ng-if="vm.to_pay.length > 0 && vm.bookouts.length < 1">
          <div ng-repeat="item in vm.to_pay" class="dashboard_repeat_items">
            <div>
              Complete your booking of {{ item.registration }}  <a ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT ANOTHER LEG</a>  <a ui-sref="dashboard.my_account.finish_and_pay({id: item.id})" class="dashboard_cancel_anchor">FINISH AND PAY</a>
            </div>
          </div>
        </div>

      
         <div ng-if="vm.bookings.length > 0 && ( (vm.bookouts.length < 1 && vm.to_pay.length < 1) || vm.force_show_admins )">
          <div ng-repeat="item in vm.bookings" class="dashboard_repeat_items">

            <div ng-if="item.booked_out == 0">
            Booking today: {{ item.registration }} from: {{ item.start | asDate | date:'HH:mm' }} to: {{ item.end | asDate | date:'HH:mm' }} on {{ item.end | asDate | date:'dd MMM yyyy'}} <a ng-if="(item.instructor_id > 0 && vm.user.id !== item.instructor_id) || item.instructor_id == 0" ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT</a> <a ng-if="vm.user.id == item.instructor_id" ui-sref="dashboard.manage_user.briefing_lesson({booking_id: item.id, lesson_id: item.lesson.id})" class="dashboard_action_anchor">BRIEF STUDENT</a>  <a class="dashboard_cancel_anchor" ng-click="vm.cancel_booking(item.id)" >CANCEL</a>
            </div>
          </div>
        </div>



         <div ng-if="vm.to_complete_split.length > 0 && vm.bookouts.length < 1">
          <div ng-repeat="item in vm.to_complete_split" class="dashboard_repeat_items">
            <div>
              Complete your booking of {{ item.registration }}  <!- <a ui-sref="dashboard.my_account.bookout_with_booking({booking_id: item.id})" class="dashboard_action_anchor">BOOKOUT ANOTHER LEG</a> ->  
              <a ui-sref="dashboard.my_account.book_in({id: item.pls_id})" class="dashboard_cancel_anchor">COMPLETE FLIGHT SPLIT</a>
            </div>
          </div>
        </div> -->


      </div>

      <div>

        <!--   <ul>
            <li><a ui-sref="dashboard.my_account.manage">Manage My Account</a></li>
            <li><a ui-sref="dashboard.my_account.nok">Manage Next of Kin</a></li>
            <li><a ui-sref="dashboard.my_account.poid">Manage Proof of ID</a></li>
            <li><a ui-sref="dashboard.my_account.memberships">Manage My Memberships</a></li>
            <li><a ui-sref="dashboard.my_account.medical">Manage Medicals</a></li>
            <li><a ui-sref="dashboard.my_account.licence">Manage Licences</a></li>
            <li><a ui-sref="dashboard.my_account.differences">Manage Differences Training</a></li>
            <li><a ui-sref="dashboard.my_account.payment_methods">Manage Payment Methods</a></li>


            <li><a ui-sref="dashboard.my_account.payment_methods">Book Out A Plane</a></li>
          </ul> -->


          <div class="main_select_box pilotscheme" ui-sref="dashboard.add_booking"  ng-if="vm.user.access.show_booking">
              MY BOOKINGS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.aircraft_status"  ng-if="vm.user.access.show_booking">
              AIRCRAFT STATUS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.claim_a_flight"  ng-if="vm.user.access.show_booking">
              CLAIM A FLIGHT
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.memberships">
              MEMBERSHIPS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.all_documents"  ng-if="vm.user.access.show_booking">
              DOCUMENTS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.all_prices"  ng-if="vm.user.access.show_booking">
              PRICELIST
          </div> 
           <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.manage">
              MY DETAILS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.licence"  ng-if="vm.user.access.show_booking">
              LICENCES
          </div>
           <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.medical"  ng-if="vm.user.access.show_booking">
              MEDICALS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.differences"  ng-if="vm.user.access.show_booking">
              DIFFERENCES
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.poid"  ng-if="vm.user.access.show_booking">
              PROOF OF ID
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.nok">
              NEXT OF KIN
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.invoices"  ng-if="vm.user.access.show_booking">
              ALL INVOICES
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.payments"  ng-if="vm.user.access.show_booking">
              ALL PAYMENTS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.my_journey_log"  ng-if="vm.user.access.show_booking">
              MY JOURNEYS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.syllabus"  ng-if="vm.user.access.show_booking">
              SYLLABUS
          </div>
          <div class="main_select_box pilotscheme" ui-sref="dashboard.my_account.training_records"  ng-if="vm.user.access.show_booking">
              TRAINING RECORDS
          </div>
          
          <!-- <div class="main_select_box" ui-sref="dashboard.my_account.payment_methods">
              PAYMENT METHODS
          </div> -->






      </div>
    </div>
  </ui-view>







</div>