<div class="licences centre_align_boxes2">


     <div class="home_upper">
      <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>
        <div class="welcome_title">
          <h2>LICENCES</h2> 
          <h4 class="capitalise">
            Manage your licences
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>

<ui-view class="sub_section2">

<button ui-sref="dashboard.my_account.licence.add" class="btn btn-primary add_btn_margin">ADD LICENCE</button>

  <table ng-if="vm.user_licences.length > 0">
    <tr>
      <td class="bold_text">
        Licence Type
      </td>
      <td class="bold_text">
        Issued By
      </td>
      <td class="bold_text">
        Issued
      </td>
      <td class="bold_text">
        Expiry
      </td>
      <td class="bold_text right_text_align">
        Management
      </td>
    </tr>
    <tr ng-repeat="licence in vm.user_licences">
      <td>
        {{ licence.licence_type }}
      </td>
      <td>
        {{ licence.authority }}
      </td>
      <td>
        {{ licence.licence_issue_date }}
      </td>
      <td>
        {{ licence.licence_expiry_date }}
      </td>
      <td class="bold_text right_text_align">
        <a ui-sref="dashboard.my_account.licence.edit({licence_id: licence.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
        <a ng-click="delete_licence(licence.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
      </td>
    </tr>
  </table>

  <span ng-if="vm.user_licences.length == 0">
    Please add a licence by clicking the button above.
  </span>

    </ui-view>

</div>