<div class="licences centre_align_boxes2 myacc-page">


     <div class="home_upper">
      <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>
        <div class="welcome_title">
          <h2>LICENCES</h2> 
          <h4 class="capitalise">
            Manage your licences
          </h4>
      </div>
    </div>

<ui-view class="sub_section2">

<button ui-sref="dashboard.my_account.licence.add" class="btn btn-primary add_btn_margin">ADD LICENCE</button>

  <div class="mc-table-wrap">
  <table ng-if="vm.user_licences.length > 0">
    <tr>
      <td class="bold_text">Licence Type</td>
      <td class="bold_text">Issued By</td>
      <td class="bold_text">Issued</td>
      <td class="bold_text">Expiry</td>
      <td class="bold_text right_text_align">Management</td>
    </tr>
    <tr ng-repeat="licence in vm.user_licences">
      <td>{{ licence.licence_type }}</td>
      <td>{{ licence.authority }}</td>
      <td>{{ licence.licence_issue_date }}</td>
      <td>{{ licence.licence_expiry_date }}</td>
      <td class="right_text_align">
        <a ui-sref="dashboard.my_account.licence.edit({licence_id: licence.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
        <a ng-click="delete_licence(licence.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
      </td>
    </tr>
  </table>
  </div>

  <div class="mc-cards" ng-if="vm.user_licences.length > 0">
    <div class="mc-card" ng-repeat="licence in vm.user_licences">
      <div class="mc-card-header">{{ licence.licence_type }}</div>
      <div class="mc-card-sub">{{ licence.authority }}</div>
      <div class="mc-card-grid">
        <div class="mc-card-stat">
          <span class="mc-card-label">Issued</span>
          <span>{{ licence.licence_issue_date }}</span>
        </div>
        <div class="mc-card-stat">
          <span class="mc-card-label">Expiry</span>
          <span>{{ licence.licence_expiry_date }}</span>
        </div>
      </div>
      <div class="mc-card-actions">
        <a ui-sref="dashboard.my_account.licence.edit({licence_id: licence.id})" class="btn btn-info function_btn">Edit</a>
        <a ng-click="delete_licence(licence.id)" class="btn btn-danger function_btn">Delete</a>
      </div>
    </div>
  </div>

  <div class="myacc-empty" ng-if="vm.user_licences.length == 0">
    <i class="fa fa-id-card"></i>
    <p>No licences added yet. Click the button above to add one.</p>
  </div>

    </ui-view>

</div>