<div class="licences centre_align_boxes2 myacc-page">


     <div class="home_upper">
      <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>

        <div class="welcome_title">
          <h2>MEDICALS</h2> 
          <h4 class="capitalise">
            Manage your medicals
          </h4>
      </div>
    </div>

    <ui-view class="sub_section2">
        <button ui-sref="dashboard.my_account.medical.add" class="btn btn-primary add_btn_margin">ADD MEDICAL</button>

          <div class="mc-table-wrap">
          <table ng-if="vm.user_medicals.length > 0">
            <tr>
              <td class="bold_text">Medical Issued By</td>
              <td class="bold_text">Examination Date</td>
              <td class="bold_text">Components</td>
              <td class="bold_text right_text_align">Management</td>
            </tr>
            <tr ng-repeat="medical in vm.user_medicals">
              <td>
                {{ medical.medical_type }}
                <br />
                {{ medical.authority }}
              </td>
              <td>{{ medical.examination_date }}</td>
              <td>
                <table class="medical_component">
                    <tr ng-repeat="component in medical.components">
                        <td>{{ component.title }}</td>
                        <td>{{ component.expiry_date }}</td>
                    </tr>
                </table>
              </td>
              <td class="right_text_align">
                <a ui-sref="dashboard.my_account.medical.edit({medical_id: medical.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
                <a ng-click="delete_medical(medical.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
              </td>
            </tr>
          </table>
          </div>

          <div class="mc-cards" ng-if="vm.user_medicals.length > 0">
            <div class="mc-card" ng-repeat="medical in vm.user_medicals">
              <div class="mc-card-header">{{ medical.medical_type }}</div>
              <div class="mc-card-sub">{{ medical.authority }}</div>
              <div class="mc-card-grid">
                <div class="mc-card-stat">
                  <span class="mc-card-label">Exam Date</span>
                  <span>{{ medical.examination_date }}</span>
                </div>
                <div class="mc-card-stat" ng-repeat="component in medical.components">
                  <span class="mc-card-label">{{ component.title }}</span>
                  <span>{{ component.expiry_date }}</span>
                </div>
              </div>
              <div class="mc-card-actions">
                <a ui-sref="dashboard.my_account.medical.edit({medical_id: medical.id})" class="btn btn-info function_btn">Edit</a>
                <a ng-click="delete_medical(medical.id)" class="btn btn-danger function_btn">Delete</a>
              </div>
            </div>
          </div>

          <div class="myacc-empty" ng-if="vm.user_medicals.length == 0">
            <i class="fa fa-heartbeat"></i>
            <p>No medicals added yet. Click the button above to add one.</p>
          </div>

    </ui-view>

</div>