<div>


<!--   JOIN A NEW CLUB
 -->

  <div class="form-group">
    <table class="vertical_1">
      <tr>
        <td>
          <span>Search For Club</span>
        </td>
        <td>
          <ui-select ng-model="vm.club" theme="bootstrap" ng-change="set_club()" style="min-width: 500px;" title="Please search for the club you wish to join." append-to-body="true" placeholder="Please search for the club you wish to join." required>
            <ui-select-match placeholder="Please search for the club you wish to join.">
              {{ vm.club.title || "Please search for the club you wish to join." }}
            </ui-select-match>
            <ui-select-choices repeat="club in vm.clubs | propsFilterA: {title: $select.search, id: $select.search, address: $select.search}">
              <div ng-bind-html="club.title | highlight: $select.search"></div>
               <small>
                  <span ng-bind-html="club.address | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>   
        </td>
      </tr>
    </table>

<!--       <hr />
 -->
    </div>
      
    

      <div class="form-group" ng-if="vm.show_memberships">
          <table class="vertical_1">
            <tr>
              <td>
              <span>Membership Wanted</span>
            </td>
            <td>

              <ui-select ng-model="vm.membership" theme="bootstrap" ng-change="set_membership()" style="min-width: 500px;" title="Please select the membership you require." append-to-body="true" placeholder="Please select the membership you require." required>
                <ui-select-match placeholder="Please select the membership you require.">
                  {{ vm.membership.membership_name || "Please select the membership you require." }}
                </ui-select-match>
                <ui-select-choices repeat="membership in vm.memberships | propsFilterA: {membership_name: $select.search, id: $select.search}">
                  <div ng-bind-html="membership.membership_name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>  
            </td>
      </tr>
    </table> 
    </div>


    <div ng-if="vm.show_confirmation">
      You are requesting to join: <b> {{ vm.club.title }} </b> <!-- at address:
      <br />
      {{ vm.club.address }} -->
      <br />
      With membership entitled: {{ vm.membership.membership_name }} for a {{ vm.membership.payment_term }} fee of {{ vm.membership.price }} {{ vm.membership.currency }}.
    </div>



    <div class="form-group" ng-if="vm.show_confirmation">
        <div class="checkbox">
            <label>
               <input type="checkbox" ng-model="vm.club_tnc" value="club_tnc" checked required>
               I have read, understand and agree to the full <a>terms and conditions</a> and <a>membership rules</a> of the club.
            </label>
        </div>
    </div>

    <!--   <br />
      <hr />
      <br /> -->

    <div ng-if="vm.show_confirmation && vm.club_tnc">
     <!--  The fee will be debited from my card on file:

      <div class="form-group">
          <span>Payment Card</span>
          <ui-select ng-model="vm.payment_card" theme="bootstrap" ng-change="set_card()" style="min-width: 500px;" title="Please select the payment card" append-to-body="true" placeholder="Please select the payment card." required>
            <ui-select-match placeholder="Please select the payment card.">
              {{ vm.payment_card.last4 || "Please select the payment card." }}
            </ui-select-match>
            <ui-select-choices repeat="card in vm.cards | propsFilter: {last4: $select.search, brand: $select.search}">
              <div ng-bind-html="card.brand | highlight: $select.search"></div><div ng-bind-html="card.last4 | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>   
      </div>
 -->
      





    </div>

    <div class="form-group" ng-if="vm.show_confirmation && vm.club_tnc">
        <div class="checkbox">
            <label>
               <input type="checkbox" ng-model="vm.card_tnc" value="tnc" checked required>
               I understand that after setting up my direct debit with {{ vm.club.title }}, my account will be debited for the amount of £{{ vm.membership.price }}, as soon as my request to join {{ vm.club.title }} has been approved by them.
            </label>
        </div>
   


      <br /><br />
          <button type="button" ui-sref="dashboard.my_account.memberships" class="btn btn-info del_btn">CANCEL</button>
<!--           <button type="button" ng-click="request()" class="btn btn-primary">REQUEST TO JOIN</button>
  //create_direct_debit
 -->          
          <button type="button" ng-click="request()" class="btn btn-primary del_btn">SETUP DIRECT DEBIT</button>
      <br /><br />
  </form>


</div>