<div class="centre_align_boxes2">


     <div class="home_upper">
        <div class="welcome_title">
          <h2>MEMBERSHIPS</h2> 
          <h4 class="capitalise">
            Manage your club memberships
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>



    <ui-view class="sub_section2">
        <button ui-sref="dashboard.my_account.memberships.add" class="btn btn-primary add_btn_margin">JOIN CLUB</button>


          <table ng-if="vm.memberships.length > 0">
            <tr>
              <td class="bold_text">
                Club
              </td>
              <td class="bold_text">
                Membership Name
              </td>
              <td class="bold_text">
                Expiry Date
              </td>
              <td class="bold_text">
                Payment Term
              </td>
              <td class="bold_text">
                Auto-Renew
              </td>
              <td class="bold_text">
                Payment Method
              </td>
              <td class="bold_text right_text_align">
                Modify
              </td>
            </tr>
            <tr ng-repeat="membership in vm.memberships">
              <td>
                {{ membership.club_name }}
              </td>
              <td>
                {{ membership.membership_name || "Passenger" }}
              </td>
              <td>
                {{ membership.membership_ends }}
              </td>
              <td>
                {{ membership.payment_term || "N/A" }}
              </td>
              <td>
                {{ (membership.auto_renew == 1)? "YES" : "NO" }}
              </td>
              <td>
                {{ (membership.gcl) ? "Direct Debit": "NOT SET" }}              
              </td>
              <td class="right_text_align">
                <button class="btn btn-info function_btn" ui-sref="dashboard.my_account.memberships.edit({ membership_id: membership.id })" ng-if="membership.membership_id > 0">Edit</button>
                
<!--                 <button class="btn btn-info function_btn" ui-sref="dashboard.my_account.memberships.edit({ membership_id: membership.id })" ng-if="!membership.membership_id">Read Terms</button>
 -->
              </td>
            </tr>
          </table>


          <br />
          <br />

 <h4 ng-if="vm.requests.length > 0"> MY MEMBERSHIP REQUESTS</h4>

          <table ng-if="vm.requests.length > 0">
            <tr>
              <td>
                Club
              </td>
              <td>
                Membership Name
              </td>
              <td>
                Price
              </td>
              <td>
                Payment Term
              </td>
              <td>
                Status
              </td>
             
              <td>
                Functions
              </td>
            </tr>
            <tr ng-repeat="request in vm.requests">
              <td>
                {{ request.title }}
              </td>
              <td>
                {{ request.membership_name }}
              </td>
              <td>
                {{ request.currency }} {{ request.price }}
              </td>
              <td>
                {{ request.payment_term }}
              </td>
              <td>
                {{ request.status }}
              </td>              
            
              <td>
                <div class="functions">
                  <button ng-if="request.requested_by == 'user'" ng-click="delete_request(request.id)" class="btn btn-danger function_btn">Cancel Request</button>
                  <button ng-if="request.requested_by == 'club'" ui-sref="dashboard.my_account.memberships.accept({ request_id: request.id })" class="btn btn-info function_btn">Accept Request</button>
                  <button ng-if="request.requested_by == 'club'" ng-click="delete_request(request.id)" class="btn btn-danger function_btn">Decline Request</button>
                </div>
              </td>
            </tr>
          </table>

          <span ng-if="vm.memberships.length == 0">
              Please Join a club!
              <button ui-sref="dashboard.my_account.memberships.add" class="btn btn-primary">JOIN CLUB</button>

                <small>
                  Please join a club to manage your memberships!
                </small>

          </span>

    </ui-view>

</div>