<div>


  CONFIRM JOINING A CLUB


    <div>
      You have been requested to join: <b> {{ vm.this_req.title }} </b> <!-- at address:
      <br />
      {{ vm.this_req.address }} -->
      <br />
      With membership entitled: <b>{{ vm.this_req.membership_name }}</b> for a <b>{{ vm.this_req.payment_term }}</b> fee of <b>{{ vm.this_req.price }} {{ vm.this_req.currency }}</b>.
    </div>


    <div class="form-group">
        <div class="checkbox">
            <label>
               <input type="checkbox" ng-model="vm.club_tnc" value="club_tnc" checked required>
               I have read, understand and agree to the full <a ng-click="downloadClubDocument(vm.this_req.membership_terms)">Terms and Conditions</a> and <a ng-click="downloadClubDocument(vm.this_req.privacy_terms)">Privacy Policy</a> of the club.
            </label>
        </div>
    </div>

      <br />
      <hr />
      <br />


<!--       {{ vm.this_req | json}}
 -->
  <!--   <div ng-if="vm.club_tnc">
      The fee will be debited from my card on file:

      <div class="form-group">
          <span>Payment Card</span>
          <ui-select ng-model="vm.payment_card" theme="bootstrap" ng-change="set_card()" style="min-width: 500px;" title="Please select the payment card" append-to-body="true" placeholder="Please select the payment card." required>
            <ui-select-match placeholder="Please select the payment card.">
              {{ vm.payment_card.last4 || "Please select the payment card." }}
            </ui-select-match>
            <ui-select-choices repeat="card in vm.cards | propsFilter: {last4: $select.search, brand: $select.search}">
              <div ng-bind-html="card.brand | highlight: $select.search"></div><div ng-bind-html="card.last4 | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>   
      </div>

      
    </div>

     <div class="form-group" ng-if="vm.club_tnc">
        <div class="checkbox">
            <label>
               <input type="checkbox" ng-model="vm.auto_renew" value="auto_renew" checked>
               I wish my subscription to be automatically renewed using the card above.
            </label>
        </div>
    </div>

    <div class="form-group" ng-if="vm.club_tnc">
        <div class="checkbox">
            <label>
               <input type="checkbox" ng-model="vm.card_tnc" value="tnc" checked required>
               I understand that my card will be charged for the amount above.
            </label>
        </div>
    </div> -->


      <br /><br />
        <div class="btns_bottom">
          <button type="button" ui-sref="dashboard.my_account.memberships" class="btn btn-danger">CANCEL</button>
          <button type="button" ng-click="accept_it()" class="btn btn-info">SETUP DIRECT DEBIT</button>
        </div>
      <br /><br />
  </form>


</div>