<div class="mdhub-page">


     <div class="snazzy-page__header">
            <div class="snazzy-page__header-inner">
              <div class="back-box" ui-sref="dashboard.my_account">
                <i class="fa fa-arrow-circle-left"></i> BACK
              </div>
              <div class="snazzy-page__title">
                <h2><i class="fas fa-user-friends"></i> NEXT OF KIN</h2>
                <p>Manage your emergency contacts</p>
              </div>
            </div>
          </div>

  <div ng-include="'views/my_account/_details_nav.html'"></div>

  <ui-view class="sub_section2">

        <div class="sec-card">
            <div class="sec-card__head">
                <i class="fas fa-user-friends sec-card__icon"></i>
                <div>
                    <h3 class="sec-card__title">Emergency Contacts</h3>
                    <p class="sec-card__sub">Who we contact if we ever need to</p>
                </div>
            </div>
            <div class="sec-card__body">

                <div class="sec-empty" ng-if="vm.noks.length == 0">
                    <i class="fas fa-user-friends sec-empty__icon"></i>
                    <p>No emergency contacts added yet.</p>
                </div>

                <div class="nok-contact" ng-repeat="nok in vm.noks">
                    <i class="fas fa-user nok-contact__icon"></i>
                    <div class="nok-contact__info">
                        <div class="nok-contact__name">
                            {{ nok.first_name }} {{ nok.last_name }}
                            <span class="nok-contact__rel" ng-if="nok.relationship">{{ nok.relationship }}</span>
                        </div>
                        <div class="nok-contact__meta">
                            <span ng-if="nok.phone_number"><i class="fas fa-phone-alt"></i> {{ nok.phone_number }}</span>
                            <span ng-if="nok.address"><i class="fas fa-home"></i> {{ nok.address }}</span>
                        </div>

                        <div class="nok-contact__confirm" ng-if="vm.confirm_delete_id == nok.id">
                            <div class="sec-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                                <div>Remove <b>{{ nok.first_name }} {{ nok.last_name }}</b> as an emergency contact? This cannot be undone.</div>
                            </div>
                            <div class="nok-contact__confirm-btns">
                                <button type="button" class="sec-btn sec-btn--outline" ng-click="cancel_delete()">Cancel</button>
                                <button type="button" class="sec-btn sec-btn--danger" ng-click="delete_nok(nok.id)">Yes, remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="nok-contact__actions" ng-if="vm.confirm_delete_id != nok.id">
                        <button type="button" class="sec-icon-btn" title="Edit" ui-sref="dashboard.my_account.nok.edit({nok_id: nok.id})">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button type="button" class="sec-icon-btn sec-icon-btn--danger" title="Remove" ng-click="ask_delete(nok.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>

                <div class="sec-card__actions">
                    <button type="button" class="sec-btn sec-btn--primary" ui-sref="dashboard.my_account.nok.add">
                        <i class="fas fa-plus"></i> Add an emergency contact
                    </button>
                </div>

            </div>
        </div>

  </ui-view>

</div>
