<div class="centre_align_boxes2 myacc-page">


     <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>

        <div class="welcome_title">
          <h2>PROOF OF ID</h2> 
          <h4 class="capitalise">
            Manage your proofs of ID
          </h4>
      </div>
    </div>



    <ui-view class="sub_section2">

        <button ui-sref="dashboard.my_account.poid.add" class="btn btn-primary add_btn_margin">ADD PROOF OF ID</button>


          <div class="mc-table-wrap">
          <table ng-if="vm.user_poids.length > 0">
            <tr>
              <td class="bold_text">Proof ID Type</td>
              <td class="bold_text">Expiry Date</td>
              <td class="bold_text right_text_align">Management</td>
            </tr>
            <tr ng-repeat="poid in vm.user_poids">
              <td>{{ poid.title }}</td>
              <td>{{ poid.expiry_date }}</td>            
              <td class="right_text_align">
                <a ui-sref="dashboard.my_account.poid.edit({poid_id: poid.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
                <a ng-click="delete_poid(poid.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
              </td>
            </tr>
          </table>
          </div>

          <div class="mc-cards" ng-if="vm.user_poids.length > 0">
            <div class="mc-card" ng-repeat="poid in vm.user_poids">
              <div class="mc-card-header">{{ poid.title }}</div>
              <div class="mc-card-grid">
                <div class="mc-card-stat">
                  <span class="mc-card-label">Expiry</span>
                  <span>{{ poid.expiry_date }}</span>
                </div>
              </div>
              <div class="mc-card-actions">
                <a ui-sref="dashboard.my_account.poid.edit({poid_id: poid.id})" class="btn btn-info function_btn">Edit</a>
                <a ng-click="delete_poid(poid.id)" class="btn btn-danger function_btn">Delete</a>
              </div>
            </div>
          </div>

          <div class="myacc-empty" ng-if="vm.user_poids.length == 0">
            <i class="fa fa-id-badge"></i>
            <p>No proof of ID added yet.</p>
            <small>This is required by flight schools to verify your identity. Only government-issued IDs are accepted.</small>
          </div>

    </ui-view>

</div>