<div class="centre_align_boxes2">


     <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>

        <div class="welcome_title">
          <h2>Proof of ID</h2> 
          <h4 class="capitalise">
            Manage your proofs of ID
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>



    <ui-view class="sub_section2">

        <button ui-sref="dashboard.my_account.poid.add" class="btn btn-primary add_btn_margin">ADD PROOF OF ID</button>


          <table ng-if="vm.user_poids.length > 0">
            <tr>
              <td class="bold_text">
                Proof ID Type
              </td>
              <td class="bold_text">
                Expiry Date
              </td>
              <td class="bold_text right_text_align">
                Management
              </td>
            </tr>
            <tr ng-repeat="poid in vm.user_poids">
              <td>
                {{ poid.title }}
              </td>
              <td>
                {{ poid.expiry_date }}
              </td>            
              <td class="right_text_align">
                <a ui-sref="dashboard.my_account.poid.edit({poid_id: poid.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
                <a ng-click="delete_poid(poid.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
              </td>
            </tr>
          </table>

          <span ng-if="vm.user_poids.length == 0">
              Please add a proof of id by clicking the button above.

                <small>
                  This is required by the flight schools in order to be able to verify who you are. You will be required to bring one or more proof of ID with you, to get it verified by one of the staff at the flying school. This will need to be done prior to them enabling the booking of planes, unless you have already provided satisfactory proof of identity which has already been vetted by the flying school / club. <br /><br />
                  Please note that only government IDs will be considered as acceptable proof of ID.
                </small>

          </span>

    </ui-view>

</div>