/*  THEME FILE FOR PAYBASE INTEGRATION  */


body{
	padding: 0;
}

input[type='submit']:disabled {
    cursor: not-allowed;
    background-color: rgba(14,74,134,0.5);
    color: #a9a9a9;
}

input[type='submit'] {
    margin: 1.5rem 0;
    background-color: rgba(14,74,134,1);
    border: 0;
    border-radius: 0;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    width: 100%;
}

