
<div class="main_div">
  <div class="main_left">

    <div class="danny">
      Danny Lane
    </div>
    <ul>
      <li><a href="#/galleries">Manage Galleries</a></li>
      <li><a href="#/select_images">Create Galleries</a></li>
      <li><a href="#/artpieces">Manage Art Pieces</a></li>
      <li><a href="#/upload_images">Upload Images</a></li>
      <li><a href="#/images">Manage Images</a></li>
      <li><a href="#/categories">Manage Categories</a></li>
      <li><a href="#/manage_keywords">Manage Keywords</a></li>
      <li><a href="#/users">Manage Users</a></li>
    </ul>

    <p><a href="#/login" class="btn btn-primary">Logout</a></p>

  </div>

  <div class="main_right">

        <p>Select the images for gallery</p>

        <br />

        <form name="form">
          <input type="text" ng-model="vm.gallery.gallery_link" name="gallery_link" ng-model-options="{ debounce: 500 }" placeholder="Gallery Link" uniquelink /> 
          <span ng-show="form.gallery_link.$pending.uniquelink">Checking if this link is available...</span>
          <span ng-show="form.gallery_link.$error.uniquelink">This link is already taken!</span> <br />
          <input type="checkbox" ng-model="vm.gallery.is_protected" ng-true-value="'true'" ng-false-value="'false'" /> Protected? <br />
          <input type="text" ng-model="vm.gallery.password" placeholder="Gallery Password" /> <br />
          <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.gallery.fullscreen"/> Fullscreen? <br />
          Dowload : LOW <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.gallery.download_low"/> MEDIUM 
          <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.gallery.download_medium"/> HIGH <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.gallery.download_high" />



        <br />
          

               
        <div class="selected_wrapper2" dnd-list="vm.images">
          <div ng-repeat="image in vm.images" class="small_selected_image2" 
              dnd-draggable="image"
              dnd-moved="vm.images.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="models.selected = item"
              ng-class="{'selected': models.selected === item}">
              <img ng-src="{{ image.link }}" /> 
              <a ng-click="remove_image(image)">REMOVE</a>
          </div>
        </div>

        <br />
        <br style="clear: both;" />
          <button class="btn btn-primary" ng-click="generate_gallery()">GENERATE + VIEW LINK</button>
        </form>

        <br />
        <br />
        <br />

        <a href="#/upload_images">ADD IMAGES</a>
        <a href="#/images">MANAGE IMAGES</a>

        <p><a href="#/" class="btn btn-success">BACK</a></p>

  </div>
  </div>