<div class="main_div">
	
	<!-- <div id="main_header2">

		<div id="main_title">
			<img src="images/main_logo.png" alt="ToAviate" id="main_logo1" />
		</div>

		<ul id="main_menu">
			 <li><a ui-sref="dashboard.manage_club">Manage Club</a></li>
			<li><a ui-sref="dashboard.manage_club">Manage Club</a></li> 
			<li ng-if="vm.user.access.show_manager"><a ui-sref="dashboard.manage_club"  ui-sref-opts="{reload: true}">Manage Club</a></li>
			<li><a ng-if="vm.user.access.show_instructor" ui-sref="dashboard.manage_user" ui-sref-opts="{reload: true}">Instructor Dashboard</a></li>
			<li><a ui-sref="dashboard.my_account" ui-sref-opts="{reload: true}">My Account</a></li>
			<li><a ui-sref="dashboard.add_booking"  ui-sref-opts="{reload: true}">My Bookings</a></li>
			<li><a ng-click="vm.logout()">Logout</a></li>
		</ul>

	</div> -->


	<div id="main_header2" mobile-slide-menu>

	  <div id="main_title">
	    <img src="images/main_logo.png" alt="logo" id="main_logo1" />
	  </div>

	  <!-- Hamburger -->
	  <button
	    class="menu_toggle"
	    type="button"
	    aria-label="Open menu"
	    aria-controls="main_menu"
	    ng-attr-aria-expanded="{{menuOpen}}"
	    ng-click="toggleMenu()">
	    <span></span><span></span><span></span>
	  </button>

	  <!-- Backdrop -->
	  <div
	    class="menu_backdrop"
	    ng-class="{ 'is-visible': menuOpen }"
	    ng-click="closeMenu()">
	  </div>

	  <!-- Menu -->
	  <ul
	    id="main_menu"
	    class="main_menu"
	    ng-class="{ 'is-open': menuOpen }"
	    ng-attr-aria-hidden="{{!menuOpen}}">

	    <!-- Close button row (mobile only via CSS) -->
	    <li class="menu_close_row">
	      <button type="button" class="menu_close" aria-label="Close menu" ng-click="closeMenu()">✕</button>
	    </li>

	    <li ng-if="vm.user.access.show_manager"><a ui-sref="dashboard.manage_club" ng-click="closeMenu()">Manage Club</a></li>
	    <li ng-if="vm.user.access.show_instructor"><a ui-sref="dashboard.manage_user" ng-click="closeMenu()">Instructor Dashboard</a></li>
	    <li><a ui-sref="dashboard.my_account" ng-click="closeMenu()">My Account</a></li>
	    <li><a ui-sref="dashboard.add_booking" ng-click="closeMenu()">My Bookings</a></li>
	    <li><a ng-click="closeMenu(); vm.logout()">Logout</a></li>
	  </ul>

	</div>


    <div class="centre_align_boxes2">

		<div ui-view id="dashboard_bit" class="centre_align_boxes2">
			<div class="centre_content">
				<div class="main_select_box managerscheme" ui-sref="dashboard.manage_club" ng-if="vm.user.access.show_manager">
				CLUBS
				</div>

				<div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user" ng-if="vm.user.access.show_instructor">
				INSTRUCTOR
				</div>

				<div class="main_select_box pilotscheme" ui-sref="dashboard.my_account" ng-if="vm.user.access.show_booking">
				PILOT
				</div>

				<div class="main_select_box piltoscheme" ui-sref="dashboard.my_account" ng-if="!vm.user.access.show_booking">
				USER DETAILS
				</div>
			</div>
		</div>


	</div>


</div>