
<div class="main_div">
  <div class="main_left">

    <div class="danny">
      Danny Lane
    </div>
    <ul>
      <li><a href="#/galleries">Manage Galleries</a></li>
      <li><a href="#/select_images">Create Galleries</a></li>
      <li><a href="#/artpieces">Manage Art Pieces</a></li>
      <li><a href="#/upload_images">Upload Images</a></li>
      <li><a href="#/images">Manage Images</a></li>
      <li><a href="#/categories">Manage Categories</a></li>
      <li><a href="#/manage_keywords">Manage Keywords</a></li>
      <li><a href="#/users">Manage Users</a></li>
    </ul>

    <p><a href="#/login" class="btn btn-primary">Logout</a></p>

  </div>

  <div class="main_right">


            <div class="gallery_list" ng-repeat="gallery in vm.galleries">
              <form name="form{{ gallery.id }}">
                <input type="text" ng-model="vm.galleries[$index].gallery_link" name="gallery_link" ng-model-options="{ updateOn: 'blur' }" placeholder="Gallery Link" newuniquelink />
                <span ng-show="form{{ gallery.id }}.gallery_link.$pending.newuniquelink">Checking if this link is available...</span>
                <span ng-show="form{{ gallery.id }}.gallery_link.$error.newuniquelink">This link is already taken!</span> <br />
                <input type="checkbox" ng-model="vm.galleries[$index].is_protected" ng-true-value="'true'" ng-false-value="'false'" /> Protected? <br />
                <input type="text" ng-model="vm.galleries[$index].password" placeholder="Gallery Password" /> <br />
                <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.galleries[$index].fullscreen"/> Fullscreen? <br />
                Dowload : LOW <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.galleries[$index].download_low"/> MEDIUM 
                <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.galleries[$index].download_medium"/> HIGH <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.galleries[$index].download_high" />
                <br />
                DISABLED <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="vm.galleries[$index].is_disabled" />
                <br />
                OPENED : {{ gallery.opened }}
                <br />
                DOWNLOADED : {{ gallery.downloaded }}
                <br />
                
                <button class="btn btn-danger" ng-click="delete_gallery($index)">DELETE GALLERY</button>
                <button class="btn btn-primary" ng-click="duplicate_gallery($index)">DUPLICATE GALLERY</button>
                <button class="btn btn-primary" ng-click="edit_gallery_images($index)">EDIT IMAGES</button>
                <button class="btn btn-green" ng-click="save_gallery($index)">SAVE GALLERY</button>

              </form>
            </div>


            <br />
            <hr />
            <br />
            <br />
            <br />


          <div id="organise_images">

            <h2> Organise the Images </h2>

            <div class="selected_wrapper2" dnd-list="vm.images">
              <div ng-repeat="image in vm.images" class="small_selected_image2" 
                  dnd-draggable="image"
                  dnd-moved="vm.images.splice($index, 1)"
                  dnd-effect-allowed="move"
                  dnd-selected="models.selected = item"
                  ng-class="{'selected': models.selected === item}">
                  <img ng-src="{{ image.link }}" /> 
                  <a ng-click="remove_image(image)">REMOVE</a>
              </div>
            </div>

            <br style="clear: both;" />

            <br />
            <br />
            <br />

            <a ng-click="save_images()">SAVE ORDER</a>

          </div>

          

            <p><a href="#/" class="btn btn-success">BACK</a></p>

    </div>


</div>