<ui-view>
	

	<div class="centre_align_boxes2">

		 <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.my_schedule">
	        MY SCHEDULE
	    </div>

	    <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.briefing">
	        BRIEFINGS
	    </div>

	    <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.debriefing_list">
	        DEBRIEFINGS
	    </div>

	    <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.student_records">
	        STUDENT RECORDS
	    </div>

	    <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.instructor_availability">
	        AVAILABILITY
	    </div>

	    <div class="main_select_box instructorscheme" ui-sref="dashboard.manage_user.instructor_holidays">
	        HOLIDAYS
	    </div>

	</div>


</ui-view>