<div>

        <div class="form-group" ng-if="vm.clubs.length > 1">
              <label for="club_select">Club</label>

              <ui-select ng-model="vm.club" on-select="vm.onClubSelected($item)" theme="bootstrap" ng-disabled="disabled" style="min-width: 500px;" title="Please select the club you wish to manage" append-to-body="true" id="club_select">
                <ui-select-match placeholder="Please select the club you wish to manage">
                  {{ vm.club.title }}
                </ui-select-match>
                <ui-select-choices repeat="club in vm.clubs | propsFilter: {title: $select.search, id: $select.search}">
                  <div ng-bind-html="club.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

        </div>

  <ui-view>

      <!-- cirlce bit with how far along setting up the account you are //-->
    <div class="centre_align_boxes2">


    <div class="main_select_box managerscheme" ui-sref="dashboard.add_booking">
        BOOKINGS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.flying">
        FLYING NOW
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.maintenance">
        MAINTENANCE
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.members">
        MEMBERS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.member_requests">
        MEMBERSHIP REQUESTS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.receipt_approval">
        LUBRICANT APPROVAL
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.documents">
        CLUB DOCUMENTS
    </div>

  
   <!--  <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.instructor_charges">
        INSTRUCTOR CHARGES
    </div> -->
    
    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.memberships">
        MEMBERSHIPS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.items">
        RENTAL ITEMS
    </div>


   <!--  <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.payments_to">
        PAYMENT DETAILS
    </div> -->


    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.payments">
        PAYMENTS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.invoices">
        INVOICES
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.planes">
        AIRCRAFT
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.receipts">
        LUBRICANT RECEIPTS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.flights">
        FLIGHTS
    </div>

    
    

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.the_shop">
        THE SHOP
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.shop_items">
        SHOP ITEMS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.package">
        PACKAGES
    </div>


    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.experiences">
        AIR EXPERIENCES
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.experience_discounts">
        EXPERIENCE DISCOUNTS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.vouchers">
        VOUCHERS
    </div>



    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.courses">
        COURSES
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_instructor_bookings">
        INSTRUCTORS
    </div>

    <div class="main_select_box managerscheme" ui-sref="dashboard.manage_club.settings">
        SETTINGS
    </div>

    </div>
</ui-view>
</div>