
<div class="main_div">
  <div class="main_left">

    <div class="danny">
      Danny Lane
    </div>


     <ul>
        <li ng-click="change_category('all')">Show All Categories</li>
        <li ng-repeat="categories in vm.categories" ng-click="change_category($index)">{{ categories.title }}</li>
      </ul>

      <ul>
        <li ng-click="artpiece_filter('all')">Show All Art Pieces</li>
        <li ng-repeat="artpiece in vm.artpieces" ng-click="artpiece_filter(artpiece.id)">{{ artpiece.title }}</li>
      </ul>

    <ul>
      <li><a href="#/galleries">Manage Galleries</a></li>
      <li><a href="#/select_images">Create Galleries</a></li>
      <li><a href="#/artpieces">Manage Art Pieces</a></li>
      <li><a href="#/upload_images">Upload Images</a></li>
      <li><a href="#/images">Manage Images</a></li>
      <li><a href="#/categories">Manage Categories</a></li>
      <li><a href="#/manage_keywords">Manage Keywords</a></li>
      <li><a href="#/users">Manage Users</a></li>
    </ul>

    <p><a href="#/login" class="btn btn-primary">Logout</a></p>

  </div>

  <div class="main_right">

                <tags-input ng-model="tags" add-from-autocomplete-only="true" on-tag-added="update_list()" on-tag-removed="update_list()">
                    <auto-complete source="loadTags($query)" ng-model="vm.all_tags"></auto-complete>
                </tags-input>
                

               


                <div id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
        	            <div ng-repeat="image in vm.images" isotope-item class="item images {{ image.keywords }} artpiece{{ image.artpiece_id }}" ng-class="{ image_is_selected: image.selected }" ng-click="add_image(image)">
          				  		  <img ng-src="{{ image.link }}" />
          				  		  <br />
<!--                           {{ image.selected }}
 -->
                            <!-- <a href="/#/images/{{ image.id }}" class="">EDIT</a>
                           <a ng-click="deleteImage(image.id)" class="">REMOVE</a> //-->
        				      </div>
               	</div>



        <br />
          

                <div class="selected_images" ng-class="{ see_selected: vm.selected_images.length > 0 }">
                  <div class="selected_images_buttons">
                    <button class="btn btn-primary" ng-click="save()">{{ vm.save_btn_text }}</button>
                  </div>
                  <div class="selected_wrapper" dnd-list="vm.selected_images" style="width: {{vm.selected_images.length * 110}}px;">
                    <div ng-repeat="image in vm.selected_images" 
                      dnd-draggable="image"
                      dnd-moved="vm.selected_images.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                    class="small_selected_image">
                        <img ng-src="{{ image.link }}" /> 
                        <a ng-click="add_image(image)">REMOVE</a>
                    </div>
                  </div>
                </div>


        <a href="#/upload_images">ADD IMAGES</a>
        <a href="#/images">MANAGE IMAGES</a>

        <p><a href="#/" class="btn btn-success">BACK</a></p>

    </div>
</div>