
<div class="main_div">
  <div class="main_left">

    <div class="danny">
      Danny Lane
    </div>
    <ul>
      <li><a href="#/galleries">Manage Galleries</a></li>
      <li><a href="#/select_images">Create Galleries</a></li>
      <li><a href="#/artpieces">Manage Art Pieces</a></li>
      <li><a href="#/upload_images">Upload Images</a></li>
      <li><a href="#/images">Manage Images</a></li>
      <li><a href="#/categories">Manage Categories</a></li>
      <li><a href="#/manage_keywords">Manage Keywords</a></li>
      <li><a href="#/users">Manage Users</a></li>
    </ul>

    <p><a href="#/login" class="btn btn-primary">Logout</a></p>

  </div>

  <div class="main_right">

      <h3>Upload Images:</h3>


      <form>

       <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
       </tags-input>


      <select name="categories" ng-model="vm.artme">
      	<option value="">Please Select - Art Piece</option>
      	<option ng-repeat="piece in vm.artpieces" value="{{ piece.id }}">{{ piece.title }}</option>
      </select>


      <div flow-init
           flow-files-submitted="$flow.upload()"
           flow-file-success="$file.file_return = $message"
           flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
        <div class="drop" flow-drop ng-class="dropClass">
          <span class="btn btn-default" flow-btn>Upload Image</span>
          <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder of Images</span>
          <b>OR</b>
          Drag And Drop your images here
        </div>

        <br/>

        <div>

          <div ng-repeat="file in $flow.files" class="gallery-box">
            <span class="title">{{file.name}}</span>
            <div class="thumbnail" ng-show="$flow.files.length">
              <img flow-img="file" />
            </div>
            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
              <div class="progress-bar" role="progressbar"
                   aria-valuenow="{{file.progress() * 100}}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   ng-style="{width: (file.progress() * 100) + '%'}">
                <span class="sr-only">{{file.progress()}}% Complete</span>
              </div>
            </div>
            <div class="btn-group">
              <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                Remove
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>

      <a ng-click="CheckData($flow.files)" class="btn btn-success">ADD</a>

      </div>



      </form>




      <p>&nbsp;</p>
      <br />
      <br />
      <br />
      <br />

      <p><a href="#/" class="btn btn-warning">BACK</a> <!-- <a href="#/login" class="btn btn-primary">Logout</a> --></p>
  </div>
</div>