    <h3>Your Details</h3>


<div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" name="first_name" ng-model="formData.user.first_name" required>
</div>

<div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" name="last_name" ng-model="formData.user.last_name" required>
</div>

<!-- <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" class="form-control" name="dob" ng-model="formData.user.dob" required>
</div> -->

 <div class="form-group">
        <label for="dob">Date of Birth</label>
        <br />
        <label class="little_label" for="dob">Day</label> <input type="number" min="1" max="31" class="form-control two_place" name="dob" ng-model="formData.user.dob_day" required>
        <label class="little_label" for="dob">Month</label> <input type="number" min="1" max="12" class="form-control two_place" name="dob" ng-model="formData.user.dob_month" required>
        <label class="little_label" for="dob">Year</label> <input type="number" min="1900" max="2020" class="form-control four_place" name="dob" ng-model="formData.user.dob_year" required>
</div>



<div class="form-group">
    
    <label for="phone">Mobile Prefix</label>
        <br />

     <ui-select tagging ng-model="vm.selected_phone"  theme="bootstrap" title="Please select your phone's country" append-to-body="false" autocomplete="off">
        <ui-select-match placeholder="Please select your country">
          {{ vm.selected_phone.CountryCode || "" }}
        </ui-select-match>
        <ui-select-choices repeat="countryCode in countries | propsFilterA: {Country: $select.search, CountryCode: $select.search, CountryCodeISO: $select.search}">
          <div ng-bind-html="countryCode.Country | highlight: $select.search"></div><div ng-bind-html="countryCode.CountryCode | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>


</div>




<div class="form-group">
    
    <label for="phone">Mobile No.</label>
    <br />
    <input type="phone" class="telephone_prefix" name="telephone_prefix" ng-model="vm.selected_phone.CountryCode" disabled="true" uib-tooltip="Please select your country prefix from the dropdown above">
    <input type="phone" class="telephone_number" name="phone" ng-model="formData.user.phone" required>
</div>


<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" ng-model="formData.user.email" required>
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" ng-model="formData.user.password" required>
</div>

<div class="form-group">
    <label for="password2">Password Again</label>
    <input type="password" class="form-control" name="password2" ng-model="formData.user.password2" required>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a one-ui-sref="club_signup.my_club" ng-click="checkValid(); $event.stopPropagation();" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>