<div class="inv-success">
    <div class="inv-success__icon">
        <i class="fa fa-check-circle"></i>
    </div>
    <h3 class="inv-success__title">Email Verified</h3>
    <p class="inv-success__text">
        Your email address has been verified. Please click below to continue the process of signing up to To Aviate. You will be redirected to setup integration with our primary payment provider called GoCardless.
    </p>

    <a ng-click="setup_direct_debit(); $event.stopPropagation();" class="inv-btn inv-btn--primary">Setup Direct Debit Payments</a>
</div>
