<div class="text-center">


	<p>
		This club requires you to upload a copy of your license and fill in your license details prior to being able to become a full {{ memberships.memberships[2].title }} holder of the club, please fill in your details below: 
	</p>
    	

	<div class="form-group">
        <label for="medical_type">What type of medical do you have?</label>
    	<br />
	    <ui-select ng-model="medical.selected" theme="select2" ng-disabled="disabled" style="min-width: 500px;" title="What type of medical do you have?" append-to-body="true">

	      <ui-select-match placeholder="Please select your medical...">
	      	{{ $select.selected.title }}
	      </ui-select-match>
	      <ui-select-choices repeat="medical in medicals.medicals | propsFilter: {title: $select.search, id: $select.search}">
	        <div ng-bind-html="medical.title | highlight: $select.search"></div>
	        <!-- <small>
	          {{ license.title }}
	          age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
	        </small> -->
	      </ui-select-choices>
	    </ui-select>

    </div>

    <div class="form-group">
	    <label for="medical">Medical Certificate Number</label>
	    <br />
	    <input type="text" class="form-control" name="medical" ng-model="formData.medical.medical_certificate_number">
	</div>

     <div class="form-group">
	    <label for="medical_exp_1">Class 1 Single Pilot Commercial Operations Carrying Passengers Expiry Date</label>
	    <br />
	    <input type="date" name="medical_exp_1" ng-model="formData.medical.class_1_spcoc" />
	</div>

	<div class="form-group">
	    <label for="medical_exp_2">Class 1 Other Operations Expiry Date</label>
	    <br />
	    <input type="date" name="medical_exp_2" ng-model="formData.medical.class_1_other" />
	</div>

	<div class="form-group">
	    <label for="medical_exp_3">Class 2 Expiry Date</label>
	    <br />
	    <input type="date" name="medical_exp_3" ng-model="formData.medical.class_2" />
	</div>

	<div class="form-group">
	    <label for="medical_exp_4">LAPL Expiry Date</label>
	    <br />
	    <input type="date" name="medical_exp_4" ng-model="formData.medical.class_lapl" />
	</div>

	<div class="form-group">
	    <label for="ecg">Last ECG Date</label>
	    <br />
	    <input type="date" name="ecg" ng-model="formData.medical.ecg_date" />
	</div>

	<div class="form-group">
	    <label for="ecg">Last Audiogram Date</label>
	    <br />
	    <input type="date" name="ecg" ng-model="formData.medical.audiogram_date" />
	</div>

	<div class="form-group">
	    <label for="ecg">Examination Date</label>
	    <br />
	    <input type="date" name="ecg" ng-model="formData.medical.exam_date" />
	</div>

    <div class="form-group">
	    <label for="medical">Please Upload Your Medical Certificate</label>
	    <br />
	    <input type="file" class="form-control" name="medical" ng-model="formData.medical">
	</div>

	<br />
 	<br />

	<div class="form-group row">
		<div class="col-xs-6 col-xs-offset-3">
		    <a one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')" class="btn btn-block btn-info">
		    Terms &amp; Conditions <span class="glyphicon glyphicon-circle-arrow-right"></span>
		    </a>
		</div>
	</div>
</div>