
<div class="form-group">
    <label for="club_name">Type in your club's name</label>
    <ui-select ng-model="formData.club" theme="select2" ng-disabled="disabled" style="min-width: 500px;" title="Type in your club's name" append-to-body="true">
          <ui-select-match placeholder="Please select your club...">
            {{ $select.selected.title }}
          </ui-select-match>
          <ui-select-choices repeat="club in clubs.clubs | propsFilter: {title: $select.search, id: $select.search}">
            <div ng-bind-html="club.title | highlight: $select.search"></div>
            <!-- <small>
              {{ license.title }}
              age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small> -->
          </ui-select-choices>
        </ui-select>
</div>


<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
	    <a one-ui-sref="user_signup.your_club_confirmation" ng-click="checkValid()" class="btn btn-block btn-info">
	    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>