<div class="text-center">



 	
 	<div class="form-group">
	    <div class="checkbox">
	        <label>
	           <input type="checkbox" ng-model="formData.tnc" value="tnc" checked required>
	           I have read, understand and agree to the full <a ng-click="downloadClubDocument('2av8_terms')">Terms &amp; Conditions</a> and <a ng-click="downloadClubDocument('2av8_privacy')">Privacy Policy</a> of the software.
	        </label>
	    </div>
	</div>

	<br />
 	<br />
 	<a one-ui-sref="verify_account" ng-click="checkValid(); $event.stopPropagation();" class="btn btn-block btn-info">
    SIGN UP NOW
    </a>

</div>