<div class="text-center">

	<div class="form-group row">
		<div class="col-xs-6 col-xs-offset-3">
	        <a one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')" class="btn btn-block btn-primary">
	         I am a student 
	        </a>
	        <br />
	        <a one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')" class="btn btn-block btn-primary">
	         I am a non-flying member 
	        </a>
	        <br />
		    <a one-ui-sref="user_signup.your_license" ng-click="checkValid('user_signup.your_license')" class="btn btn-block btn-primary">
		     I am a qualified pilot and wish to enter my details now
		    </a>
		    <br />
		    <a one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')" class="btn btn-block btn-primary">
		     I am a qualified pilot but wish to enter all my details later
		    </a>
		</div>
	</div>

</div>