<div>

  <h2 class="inv-title">Your Pilot Status</h2>
  <p class="inv-subtitle">Select the option that best describes you.</p>

  <div class="inv-payment-options">

    <a class="inv-payment-option" one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')">
      <span class="inv-payment-option__label">I am a student</span>
      <i class="fa fa-chevron-right inv-payment-option__arrow"></i>
    </a>

    <a class="inv-payment-option" one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')">
      <span class="inv-payment-option__label">I am a non-flying member</span>
      <i class="fa fa-chevron-right inv-payment-option__arrow"></i>
    </a>

    <a class="inv-payment-option" one-ui-sref="user_signup.your_license" ng-click="checkValid('user_signup.your_license')">
      <span class="inv-payment-option__label">Qualified pilot &ndash; enter details now</span>
      <i class="fa fa-chevron-right inv-payment-option__arrow"></i>
    </a>

    <a class="inv-payment-option" one-ui-sref="user_signup.your_tnc" ng-click="checkValid('user_signup.tnc')">
      <span class="inv-payment-option__label">Qualified pilot &ndash; enter details later</span>
      <i class="fa fa-chevron-right inv-payment-option__arrow"></i>
    </a>

  </div>

</div>