
<div class="form-group">
    <div class="club_details">

    <p> The club you have selected is: </p>


        <h4>Alouette Flying Club</h3>
        <p>
            Biggin Hill Airport<br />
            122 Biggin Hill Way<br />
            KT9 818, Biggin Hill<br />
            England, UK
        </p>
    
        <p> Is that correct? </p>


    </div>
</div>


<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
        <a one-ui-sref="user_signup.your_club" ng-click="checkValid('user_signup.your_club')" class="btn btn-danger">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> No - I made a mistake 
        </a>

	    <a one-ui-sref="user_signup.your_membership" ng-click="checkValid()" class="btn btn-info">
	    Yes - That is correct <span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>