

<div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" name="email" ng-model="formData.passenger.login.email" required />
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" ng-model="formData.passenger.login.password" required />
</div>

<div class="form-group">
     <a ng-click="login_passenger(); $event.stopPropagation();" class="btn btn-block btn-info">
        LOGIN <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>

<div class="form-group" >
    <p>
        Welcome back, please ensure that your details are up to date:
    </p>
    <p>
        {{ passenger.login.success.details }}
    </p>

</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="passenger_signup.check" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Back 
        </a>
    </div>
</div>