<div class="form-group">
    <label for="first_name">Next of Kin First Name</label>
    <input type="text" class="form-control" name="first_name" ng-model="formData.nok.first_name" required>
</div>

<div class="form-group">
    <label for="last_name">Next of Kin Last Name</label>
    <input type="text" class="form-control" name="last_name" ng-model="formData.nok.last_name" required>
</div>

<div class="form-group">
    <label for="phone_number">Next of Kin Phone Number</label>
    <input type="phone" class="form-control" name="phone_number" ng-model="formData.nok.phone_number" required>
</div>

<div class="form-group">
    <label for="relationship">Next of Kin Relationship</label>
    <input type="input" class="form-control" name="relationship" ng-model="formData.nok.relationship" required>
</div>

<div class="form-group">
    <label for="email_address">Next of Kin Email</label>
    <input type="email" class="form-control" name="email_address" ng-model="formData.nok.email_address">
</div>

<div class="form-group">
    <label for="address">Next of Kin Address</label>
    <textarea class="form-control" name="address" ng-model="formData.nok.address" required></textarea>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a one-ui-sref="invitations.your_club" ng-click="checkValid(); $event.stopPropagation();" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>