<div class="text-center">


    <h2>Welcome To Aviate</h2>


    <p>
        You have been invited to join {{ club.title }} with the following membership:
    </p>
    <p>
        Membership Name: {{ membership.membership_name }}
        <br />
        Membership Price: {{ membership.currency }} {{ membership.price }}
        <br />
        Membership Payment Term: {{ membership.payment_term }}
        <br />
        Membership Start Date: {{ membership.request.membership_start | date:"dd/MM/yyyy" }}
        <br />
        Membership End Date: {{ membership.request.membership_end | date:"dd/MM/yyyy" }}
        <br />
        Automatic Renewal: <span uib-tooltip="You can edit this in your account.">YES</span> 
        <br />
         <span ng-if="payment_now == 0">First Payment Date: {{ first_payment | asDate | date:"dd/MM/yyyy" }}</span>
    </p>
   
    

 <!--    <p>
        Should you wish to also accept Debit & Credit Card payments, we also offer a seemless integration with Stripe. Click the link below to setup debit and credit card payments for your account. You can also do this later from your ToAviate account
    </p> -->


    <br />
    <br />

<!--  ui-sref="club_signup2.complete"
 -->    <a ui-sref="invitations.your_details"  class="btn btn-block btn-info">
        CREATE MY ACCOUNT
    </a>

    <div id="error_message">
        
    </div>

</div>