<div class="centre_align_boxes2 courses">

    <div class="home_upper">
          <div class="back-box" ui-sref="dashboard.my_account({reload: true})">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>DEBRIEFING</h2> 
            <h4 class="capitalise">
              Debrief {{ vm.student.first_name }} {{ vm.student.last_name }}
            </h4>
          </div>
    </div>



    

    <div class="club_docs_all" ng-if="vm.show_whole_lesson">
        <h2>Lesson {{ vm.lesson.organise }}: {{ vm.lesson.title }}</h2>

       
        <div class="course_intro">
          <label for="aim">Aim</label>
          {{ vm.lesson.aim }}
        </div>
         <div class="course_intro">
          <label for="course_reference">Course Reference</label>
          {{ vm.lesson.course_reference }}
        </div>
         <div class="course_intro">
          <label for="description">Description</label>
          {{ vm.lesson.description }}
        </div>


      </div>


     


       <div class="club_docs_all" ng-if="vm.show_whole_lesson">
        <h2 uib-tooltip="Threat and Error Management">TEM</h2>

            <div class="card centre_me" ng-if="vm.lesson.tem.length == 0">
              There are no TEM for this lesson
            </div>

            <div class="card" ng-if="vm.lesson.tem.length > 0">
                <table>
                    <tr>
                        <th>Threat / Error</th>
                        <th>Consequence</th>
                        <th>Mitigation</th>
                    </tr>
                      <tr ng-repeat="tem in vm.lesson.tem">
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.threat }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="title" id="title" ng-model="tem.threat" />
                        </td>
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.consequence }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="consequence" id="consequence" ng-model="tem.consequence" />
                        </td>
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.mitigation }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="mitigation" id="mitigation" ng-model="tem.mitigation" />
                        </td>
                    </tr>
                     
                </table>

            </div>

      </div>


      <div class="club_docs_all" ng-if="vm.show_whole_lesson">
        <h2>Pre-Flight</h2>

            <div class="card centre_me" ng-if="vm.lesson.bullets.preflight.length == 0">
              This lesson doesn't any Pre-Flight Items.
            </div>

            <div class="card" ng-if="vm.lesson.bullets.preflight.length > 0">
                <table class="lesson_display">
                   
                      <tr ng-repeat="preflight in vm.lesson.bullets.preflight">
                          <td>
                            <span ng-if="!preflight.edit_me" class='{{ (preflight.bullet_format == "0") ? "bullet" : "heading" }}'>{{ preflight.title }}</span> 
                            <input ng-if="preflight.edit_me" type="text" class="form-control inputtext" name="title" id="title" ng-model="preflight.title" />
                          </td>
                         
                      </tr>
                     
                    
                </table>

            </div>

             

      </div>


      <div class="club_docs_all" ng-if="vm.show_whole_lesson">
        <h2>Air Exercises</h2>

            <div class="card centre_me" ng-if="vm.lesson.bullets.airex.length == 0">
              This lesson doesn't contain any Air Exercises.
            </div>

            <div class="card" ng-if="vm.lesson.bullets.airex.length > 0">
                <table class="lesson_display">

                      <tr ng-repeat="airex in vm.lesson.bullets.airex">
                          <td>
                            <span ng-if="!airex.edit_me" ng-if="!airex.edit_me" class='{{ (airex.bullet_format == "0") ? "bullet" : "heading" }}'>{{ airex.title }}</span> 
                            <input ng-if="airex.edit_me" type="text" class="form-control inputtext" name="title" id="title" ng-model="airex.title" />
                          </td>
                           
                      </tr>
                      

                </table>

            </div>

          

      </div>


     <div class="club_docs_all">
        <h2>DEBRIEF</h2>
            <div class="card centre_me" ng-if="vm.lesson.bullets.airex.length == 0">
              This lesson doesn't contain any specific debrief reminders
            </div>

            <div class="card" ng-if="vm.lesson.bullets.debrief.length > 0">
                <table class="lesson_display">

                      <tr ng-repeat="debrief in vm.lesson.bullets.debrief">
                          <td>
                            <span class='{{ (debrief.bullet_format == "0") ? "bullet" : "heading" }}'>{{ debrief.title }}</span> 
                          </td>
                           
                      </tr>
                      

                </table>

            </div>

      </div>

       <div class="club_docs_all">
        <h2>Student Progress</h2>
          
            <div class="card centre_me" ng-if="vm.lesson.items.length == 0">
             There are no student progress tasks for this lesson
            </div>

            <div class="card" ng-if="vm.lesson.items.length !== 0">
                <input type="button" class="btn btn-primary btn_centre_card" ng-click="vm.show_whole_course()" value="{{ (vm.show_all_lessons) ? 'SHOW THIS LESSON ONLY': 'SHOW WHOLE COURSE ITEMS'}}" />
                <input type="search" placeholder="Search Student Progress" ng-model="vm.my_search2" ng-change="vm.set_updated_search()" class="form-control searchbar smaller_search" uib-tooltip="Using the search function will automatically search the whole course, and not just the lesson already shown, to return to show only this lesson, remove any searched items" />
            </div>

            <div class="card" ng-if="vm.lesson.items.length > 0">
                <table class="competence-table competence-table-highlight-all" >
                    <thead>
                        <tr>
                            <th>Key Learning Objective</th>
                            <th class="competences_header competence_same_width" ng-repeat="competence in vm.competences">
                                {{ competence.title }}
                            </th>
                            <th class="competences_header">
                                Remarks
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in vm.all_items | propsFilterA: {title: vm.my_search, lesson_id: vm.my_search }">
                          <td class="competence_title">
                            <!-- uib-tooltip="{{ item.description }}" -->
<!--                             <span uib-popover="{{ item.description }}" popover-trigger="mouseenter" popover-placement="right" >{{ item.title }}</span> 
 -->                            <span uib-tooltip="{{ item.description }}" tooltip-placement="right" >{{ item.title }}</span> 

                          </td>
                          <td class="competences_marking competence_same_width" ng-repeat="competence in vm.competences">
                                
                                <input class="form-control" type="radio" name="{{ item.id }}" value="{{competence.id}}" ng-model="item.result" />

                          </td>
                          <td class="competences_marking remarks">
                            <textarea class="form-control inputtext" ng-model="item.remarks"></textarea>
                          </td>

                        
                      </tr>
                    </tbody>
                </table>

            </div>

           

      </div>
     <div class="club_docs_all">
        <h2>General Remarks</h2>
        <div class="card centre_me">
            <textarea class="form-control inputtext gen_remarks" ng-model="vm.general_remarks" uib-tooltip="Type any general remarks that may be useful or required to be kept in the student records."></textarea>
        </div>

    </div>


<div class="bookingout_wrapper no_padding">

    <div class="club_docs_all">
        <h2>Lesson Tagging</h2>
      <div class="center_if_large2 left_al">

            <!-- <div class="form-group">
              <label for="card-number">This flight included times that need to coun</label>
              <div class="check_box_in_form">
                <input type="checkbox" class="form-control inputtext" ng-model="vm.lesson_completed">
              </div>
            </div> -->

            <div class="form-group">
                <div class="card centre_me" ng-if="vm.selected_flight_tags.length == 0">
                  There are no tags for this lesson (yet)
                </div>

            <div class="card" ng-if="vm.selected_flight_tags.length > 0">
                <table>
                    <tr>
                        <th>Tag name</th>
                        <th>Tag Logged Time</th>
                        <th>Functions</th>
                    </tr>
                      <tr ng-repeat="tag in vm.selected_flight_tags">
                        <td>
                          <span>{{ tag.title | myToUpperCase }}</span> 
                        </td>
                        <td>
                          <span>{{ tag.logging_time }} [mins]</span> 
                        </td>
                        <td>
                          <a ng-click="vm.delete_tag(tag, $index)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
                        </td>
                    </tr>
                     
                </table>
            </div>

            <div class="form-group">
                <label for="instructor">Add Flight Tag</label>
                <ui-select ng-model="vm.flight_tag" theme="bootstrap" ng-disabled="disabled" title="Please select the flight tag for this flight" append-to-body="true" ng-change="vm.update_flight_tag()">
                    <ui-select-match placeholder="Please select the flight tag for this flight">
                       {{ vm.flight_tag.title | myToUpperCase }} 
                    </ui-select-match>
                    <ui-select-choices repeat="tag in vm.all_tags | propsFilterA: {title: $select.search, id: $select.search}">
                      <!-- {{ tag.title }} --> 
                      <div ng-bind-html="tag.title | myToUpperCase | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

                <div class="form-group" ng-if="vm.flight_tag">
                  <label for="card-number">This tag is for full flight time</label>
                  <div class="check_box_in_form">
                    <input type="checkbox" class="form-control inputtext" ng-model="vm.tag_full_flight" ng-change="vm.update_flight_full_flight()">
                  </div>
                </div>

                <div class="form-group" ng-if="vm.flight_tag && !vm.tag_full_flight">
                  <label for="card-number">{{ vm.flight_tag.title }} Tag Flight Time:</label>
                  <div class="check_box_in_form">
                    <input type="number" class="form-control inputtext" step="5" ng-keyup="vm.tag_time_to_five()" ng-model="vm.tag_flight_time">
                  </div>
                </div>



            </div>
            <div class="form-group">
                 <input type="button" class="btn btn-primary btn_centre_card" ng-click="vm.add_tag()" value="ADD FLIGHT TAG" />
            </div>
        </div>

    </div>
</div>


<div class="bookingout_wrapper no_padding">

    <div class="club_docs_all">
        <h2>Lesson Status</h2>
      <div class="center_if_large2 left_al">

            <div class="form-group">
              <label for="card-number">This lesson was completed</label>
              <div class="check_box_in_form">
                <input type="checkbox" class="form-control inputtext" ng-model="vm.lesson_completed">
              </div>
            </div>

            <div class="form-group" ng-if="vm.lesson_completed">
            <label for="instructor">Select Next Lesson</label>
            <ui-select ng-model="vm.next_lesson" theme="bootstrap" ng-disabled="disabled" title="Please select the next lesson" append-to-body="true">
                <ui-select-match placeholder="Please select the next lesson">
                  Lesson {{ vm.next_lesson.organise }} - {{ vm.next_lesson.title }}
                </ui-select-match>
                <ui-select-choices repeat="lesson in vm.all_lessons | propsFilterA: {title: $select.search, organise: $select.search, id: $select.search}">
                  Lesson {{ lesson.organise }} 
                  <div ng-bind-html="lesson.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            </div>

        </div>

    </div>
</div>

   <div class="club_docs">
           <!--  {{ vm.show_split }} -->
            <input type="button" class="btn btn-primary btn_centre_card" ng-click="vm.save_progress()" value="SAVE PROGRESS" />

        </div>
</div>



<!-- BELOW IS THE APPROVAL OF BOOKINGS - DOES NOT BELOW HERE -->




<!-- 
<div ng-if="vm.bookings.length == 0">
    <h5>You have no new bookings to approve...</h5>
</div>
       

<div ng-if="vm.bookings.length > 0">
    <h5>Bookings To Approve</h5>
    <table>
        <tr>
            <td>
                BOOKING DETAILS
            </td>
            <td>
                OPTIONS
            </td>
        </tr>
        <tr ng-repeat="booking in vm.bookings">
            <td>
                {{ booking.registration }} - {{ booking.plane_type }}
                <br />
                {{ booking.start | asDate | date:"dd/MM/yyyy HH:mm"}} to {{ booking.end | asDate | date:"dd/MM/yyyy HH:mm" : "UTC" }}
                <br />
                With {{ booking.first_name }} {{ booking.last_name }}
                <br />
                Contact: {{ booking.phone_number }} | {{ booking.email }}
            </td>
            <td>
                <input type="button" class="btn btn-primary" ng-click="approve_booking(booking.id)" value="APPROVE" />
                <input type="button" class="btn btn-danger" ng-click="decline_booking(booking.id)" value="DECLINE" />
                <input type="button" class="btn btn-warning" ng-click="view_booking(booking.id, booking.start)" value="VIEW" />
            </td>
        </tr>
    </table>
</div> -->