  <div class="centre_align_boxes2">


      <div class="home_upper">
          <div class="welcome_title">
            <h2>INSTRUCTOR HOLIDAYS</h2> 
            <h4 class="capitalise">
              Manage your days off
            </h4>
          </div>
      </div>

      <div class="club_docs bookingout_wrapper">

<!-- <div role="main">
    <div class="container">


        <section id="directives-calendar" >
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                                            -->


                      <div class="">
                           <!--  {{date_from}}
                            {{date_to}} -->

                          <div class="well">


                                <div rg-range-picker="myDatetimeRange" labels="myDatetimeLabels" on-time-change="whenTimeChange">
                                </div>

                                <button type="button" class="btn btn-success club_add_button" ng-class="{ 'btn-warning': whole_day_booking }" ng-click="wholeDay()">
                                  Whole Day
                                </button>


                                <div class="centre_text_align">
                                  <p>You are booking time off FROM: <span class="bolder">{{ myDatetimeRange.date.from | date:"dd MMM yyyy - HH:mm" }}</span> TO: <span class="bolder">{{ myDatetimeRange.date.to | date:"dd MMM yyyy - HH:mm" }}</span></p>
                                </div>

                                <button type="button" class="btn btn-primary club_add_button" ng-click="addEvent()">
                                    Add Holiday
                                </button>

                            </div>


                                <!-- note for disabled times the selector that we may require to add a hover over to explain how to book days further in advance is: "::dt.disabled" //-->
                                <!-- http://www.daterangepicker.com/#examples -->
                                <!--                             <div rg-range-picker="myDatetimeRange" labels="myDatetimeLabels"></div>
                                 -->  

                    </div>




                   <!--  <div class="span8">

                            <tab select="renderCalender('myCalendar1');">
                              <tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> My Calendar
                              </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">My Calendar</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                           <tab>
                              <tab-heading>
                                List My Holidays
                              </tab-heading>
                              <ul class="unstyled">
                                  <li ng-repeat="e in events">
                                      <div class="alert alert-info">
                                          <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                          <b> <input ng-model="e.title" disabled="disabled"></b> 
                                          {{e.start | date:"dd MMM yy - HH:mm"}} - {{e.end | date:"dd MMM yy - HH:mm"}}
                                      </div>
                                  </li>
                              </ul>
                           </tab>
                          
                    </div> -->





<!-- 
                </div>
            </div>

            </section>

        </div>

        </div> -->
<!-- 
Area to show a calendar view of time that has been booked off (so that the members can't book this instructor as s/he is on hols)

 -->
