<div class="centre_align_boxes2">


      <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>COURSES</h2> 
            <h4 class="capitalise">
              Manage your courses
            </h4>
          </div>
      </div>

      <div class="club_docs">

            <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.add_course">Add New Course</button>
            <div class="card" ng-if="vm.club.courses.length == 0">
              You don't have any courses at the moment, please create one.
            </div>

            <div class="card" ng-if="vm.club.courses.length > 0">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Functions</th>
                    </tr>

                    <tr ng-repeat="course in vm.club.courses">
                        <td>{{ course.title }}</td>
                        <td>{{ course.description }}</td>
                        <td><a ui-sref="dashboard.manage_club.edit_course({course_id: course.id, action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a> &nbsp; <a ng-click="vm.delete_course(course.id, $index)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a></td>
                    </tr>

                </table>

            </div>


        </div>
</div>