<ui-view>
  <div class="centre_align_boxes2">


      <div class="home_upper">
          <div class="back-box" ui-sref="dashboard.manage_club">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div>
          <div class="welcome_title">
            <h2>CLUB DOCUMENTS</h2> 
            <h4 class="capitalise">
              Manage club documents
            </h4>
          </div>
      </div>

      <div class="club_docs bookingout_wrapper">

        <button ui-sref="dashboard.manage_club.documents.add" class="btn btn-primary club_add_button">ADD DOCUMENT</button>

        <div class="card">
            <table class="vertical_1" ng-if="vm.club_documents.length > 0">
              <tr>
                <th>
                  Document Title
                </th>
                <th>
                  Short Description
                </th>
                <th>
                  File 
                </th>
                <th>
                  Management
                </th>
              </tr>
              <tr ng-repeat="document in vm.club_documents">
                <td>
                  {{ document.title }}
                </td>
                <td>
                  {{ document.description }}
                </td>
                <td>
                   <a ng-click="downloadClubDocument(document.document)"><img class="file_icon" src="{{get_icon2(document.document)}}" /></a>
                </td>
                <td>
                  <a ui-sref="dashboard.manage_club.documents.edit({document_id: document.id})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a>
                  <a ng-click="open(document.id)"uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
                </td>
              </tr>
            </table>

            <span ng-if="vm.club_documents.length == 0">
              Please add a document by clicking the button above.
            </span>

        </div>
      </div>
  </div>
</ui-view>