
<div class="centre_align_boxes2">

    <div class="home_upper">
          <div class="welcome_title">
            <h2>AIR EXPERIENCE DISCOUNTS</h2> 
            <h4 class="capitalise">
              Manage discounts
            </h4>
          </div>
    </div>

    <div class="center_if_large club_docs bookingout_wrapper">

            <form>

                <div class="form-group">
                    <label for="payment_term">Select Experience</label>
                    <ui-select id="experience_select" ng-model="vm.club.item.experience" theme="bootstrap" ng-disabled="disabled" style="min-width: 500px;" title="Plane" append-to-body="true" ng-focus="vm.clearFieldError($event)">
                      <ui-select-match placeholder="Please select a experience">
                        {{ vm.club.item.experience.title }}
                      </ui-select-match>
                      <ui-select-choices repeat="experience in vm.experiences | propsFilter: {title: $select.search, description: $select.search, id: $select.search}">
                        <div ng-bind-html="experience.title | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label for="expiry_date">Expiry Date</label>
                    <input type="date" class="form-control inputtext" name="expiry_date" id="expiry_date" ng-model="vm.club.item.expiry_date" />
                </div>

                <div class="form-group">
                    <label for="discount_type">Discount Type</label>
                    <select name="discount_type" id="discount_type" class="form-control inputtext" ng-model="vm.club.item.discount_type" required ng-focus="vm.clearFieldError($event)">
                        <option value="0">Please choose...</option>
                        <option value="1">Fixed Price</option>
                        <option value="2">Percentage of Price</option>
                    </select>
                </div>

                <div class="form-group" ng-if="vm.club.item.discount_type == 2">
                    <label for="percentage">Discounted Percentage</label>
                    <input type="number" class="form-control inputtext" name="percentage" id="percentage" ng-model="vm.club.item.percentage" />
                </div>

                <div class="form-group" ng-if="vm.club.item.discount_type == 1">
                    <label for="price">Discounted Price</label>
                    <input type="number" class="form-control inputtext" name="price" id="price" ng-model="vm.club.item.price" />
                </div>


                <div class="form-group">
                    <label for="number_available">Number Available (0 if no limit)</label>
                    <input type="number" class="form-control inputtext" name="number_available" id="number_available" ng-model="vm.club.item.number_available" />
                </div>

                <div class="form-group">
                    <label for="discount_code">Discount Code</label>
                    <input type="text" class="form-control inputtext" name="discount_code" ng-change="check_code()" id="discount_code" ng-model="vm.club.item.discount_code" required ng-focus="vm.clearFieldError($event)" />
                </div>


                <div class="card extra_space_top">

                    <button class="btn btn-info" ng-click="back()">Back</button>
                    <button class="btn btn-danger" ng-click="save()">Save</button>

                </div>

            </form>
    </div>
</div>

   

