
<div class="centre_align_boxes2">

    <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>AIR EXPERIENCES</h2> 
            <h4 class="capitalise">
              Manage offered experiences
            </h4>
          </div>
    </div>

    <div class="center_if_large club_docs bookingout_wrapper">

            <form>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control inputtext" name="title" id="title" ng-model="vm.club.item.title" />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control inputtext" name="description" id="description" ng-model="vm.club.item.description" />
                </div>

                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control inputtext" name="link" id="link" ng-model="vm.club.item.more_link" />
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control inputtext" name="price" id="price" ng-model="vm.club.item.price" />
                </div>

                <div class="form-group">
                    <label for="valid_for">Validity (days)</label>
                    <input type="number" class="form-control inputtext" name="valid_for" id="valid_for" ng-model="vm.club.item.valid_for" />
                </div>

                <div class="form-group">
                    <label for="booking_duration">Slot Required (hours in decimal)</label>
                    <input type="number" step="0.1" class="form-control inputtext" name="booking_duration" id="booking_duration" ng-model="vm.club.item.booking_duration" />
                </div>

                <div class="form-group">
                    <label for="available_to_purchase">Can be purchased</label>
                    <input type="checkbox" class="form-control inputtext" name="available_to_purchase" id="available_to_purchase" ng-model="vm.club.item.available_to_purchase" />
                </div>

                <div class="form-group">
                    <label for="available_to_purchase">Accounting Ref</label>
                    <input type="text" class="form-control inputtext" name="accounting_ref" id="accounting_ref" ng-model="vm.club.item.accounting_ref" />
                </div>


                <div class="form-group">
                    <label for="payment_term">Add Aircraft</label>
                    <ui-select ng-model="vm.temporary.plane" theme="bootstrap" ng-disabled="disabled" style="min-width: 500px;" title="Plane" append-to-body="true">
                      <ui-select-match placeholder="Please select an aircraft">
                        {{ vm.temporary.plane.registration }}
                      </ui-select-match>
                      <ui-select-choices repeat="plane in vm.planes | propsFilterA: {plane_type: $select.search, registration: $select.search, id: $select.search}">
                        <div ng-bind-html="plane.registration | highlight: $select.search"></div>
                        <div ng-bind-html="plane.plane_type | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                </div>


                <button class="btn btn-info club_add_button" ng-click="add_item('plane')">ADD AIRCRAFT TO EXPERIENCE</button>


                <div class="card extra_space_top" ng-if="vm.club.item.planes.length > 0">
                    <table>
                        <tr>
                            <th>
                                Aircraft Registration 
                            </th>
                            <th>
                                Aircraft Type
                            </th>
                            <th>
                                Manage
                            </th>
                        </tr>
                        <tr ng-repeat="plane in vm.club.item.planes">
                            <td>
                                {{ plane.registration }}
                            </td>
                            <td>
                                {{ plane.plane_type }}
                            </td>
                            <td>
                                <button ng-click="remove_item('plane',$index)" class="btn-danger">X</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="card extra_space_top">
                    <div class="btns_bottom">
                        <button class="btn btn-info" ng-click="back()">Back</button>
                        <button class="btn btn-danger" ng-click="save()">Save</button>
                    </div>
                </div>

            </form>
    </div>
</div>