<ui-view>


<div class="centre_align_boxes2">

    <div class="home_upper">
          <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
          </div>
          <div class="welcome_title">
            <h2>FLYING NOW</h2> 
            <h4 class="capitalise">
              See flights
            </h4>
          </div>
    </div>

<!--     <div class="center_if_large club_docs bookingout_wrapper">
 -->            

            <form>
<div class="club_docs_all">

     


              <h2>Currently Flying / Incomplete Flight</h2>
              <div class="center_if_large">

<!--                 {{ vm.club.flights | json }}
 -->
                <div class="card member_check">
                    <p class="more_information" ng-if="vm.club.flights.length < 1">
                        The club doesn't have any aircraft currently flying / airborne.
                    </p>

                     <table ng-if="vm.club.flights.length > 0">
                         <tr>
                            <th>Aircraft</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>POB</th>
                            <th>Flight Type</th>
                            <th>Notes</th>
                            <th>Booking End</th>
                            <th>Functions</th>

                         </tr>

                        <tr ng-repeat="flight in vm.club.flights">
                            <td><span class="spanlink" ng-click="vm.load_adsb( flight.booking.icao_hex )" uib-tooltip="View location on ADSB-Exhange">{{ flight.booking.registration }}</span></td>  
                            <td>{{ flight.flight_date | asDate | date:'dd MMM yyyy' }} {{ nok.last_name }}</td>
                            <td><span uib-tooltip="{{flight.from_airport.code}}">{{ flight.from_airport.title }}</span></td>  
                            <td><span uib-tooltip="{{flight.to_airport.code}}">{{ flight.to_airport.title }}</span></td>  
                            <td><span class="pointer" uib-popover-html="vm.get_pax_html(flight)">{{ flight.pob }}</span></td>
                            <td>
                                {{ (flight.booking.maintenance_flight == 1) ? "Maintenance Flight":"" }}
                                {{ (flight.booking.instructor_id > 0) ? "Instruction Flight":"" }}
                                {{ (flight.booking.voucher_id > 0) ? "Voucher Flight":"" }}
                                {{ (flight.booking.voucher_id == 0 && flight.booking.instructor_id == 0 && flight.booking.maintenance_flight == 0)? "Rental Flight" : ""}}
                            </td>  
                            <td>{{ flight.booking.description  }}</td>  
                            <td>{{ flight.booking.end | asDate | date:'dd MMM yyyy HH:mm' }}</td>  
                            <td>

                               <!--  N/A
                                <div>

                                </div> -->
<!--                                 id: {{ flight.id }}
<a class="dashboard_action_anchor" ui-sref="dashboard.my_account.book_in({id: item.id})">BOOK IN</a>  --> 
<a  class="dashboard_action_anchor2" uib-tooltip="Complete This Flight" ui-sref="dashboard.my_account.book_in({id: flight.id})"><i class="fa fa-file"></i></a>

<a uib-tooltip="Cancel the flight" class="dashboard_cancel_anchor2" ng-click="vm.cancel_bookout(flight.id)"><i class="fa fa-trash-alt"></i></a>


                                <!-- booking_id : {{ flight.booking_id }} -->
                            </td>

                        </tr>
                    </table>


            </div>
        </div>



                <div class="card center_if_large">
                    <div class="btns_bottom">
                        <button class="btn btn-info btn_bigger" ng-click="back()">Back</button>
<!--                         <button class="btn btn-danger btn_bigger" ng-click="save()">Save</button>
 -->                    </div>
                </div>

          </div>



                <!--
                
                + ABILITY TO SEE IF THIS INSTRUCTOR IS FREELANCE OR NOT... ADD RATES / UPDATE RATES.... ETC.... 

                + HAVE USER QUALIFICATIONS/MEDICAL BEEN REVIEWED AND APPROVED?
                + SEE USER'S QUALIFICATIONS & MEDICAL

                + IS USER STILL LEGAL?
                
                + SEE USER'S NEXT OF KIN

                + SEE USER'S RECENT FLIGHTS
                + SEE USER'S PAYMENTS & CHECK PAYMENTS WERE MADE
                
                + MODIFTY WHICH PLANE USER CAN SEE
                + MODIFY WHICH PLANE USER CAN BOOK / HAS ACCESS TO

                + IN FUTURE - CHECK USER NOTES / TRAINING SCHEDULE

                -->

               <!--   <pre>
                {{ vm.club }}
                </pre>

                <br />    
                <br /> -->

                <!--
                <br />
                <button class="btn btn-info">Manage Payment Account</button> 
                //-->
                
        <!--         <br /> 
         -->


               

            </form>

        </div>
</ui-view>




<div ng-if="vm.show_loading" class="positioning-container2">
  <div class="airplane_center_loading">Loading...</div>
  <div class="spinning-container">
  <div class="airplane-container">
    <span class="fa fa-plane fa-2x"></span>
  </div>
  </div>
</div>

