<div class="centre_align_boxes2">


      <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title"> 
            <h2>BOOKING SETTINGS</h2> 
            <h4 class="capitalise">
              Manage your booking page & instructors
            </h4>
          </div>
      </div>


      <div class="club_docs bookingout_wrapper">
            
          

           <div class="plane_docs">

        <h4>Manage Instructors</h4>

            <div class="card" ng-if="vm.club.instructors.length > 0">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Courses</th>
                        <th>Notes</th>
                        <th>Colours</th>
                        <th>Functions</th>
                    </tr>
                    <tbody dnd-list="vm.club.instructors">
                         <tr ng-repeat="instructor in vm.club.instructors" dnd-draggable="instructor" dnd-moved="vm.club.instructors.splice($index, 1);save_instructor_order()">
                            <td uib-tooltip="{{ instructor.email }}" tooltip-append-to-body="true">{{ instructor.first_name }} {{ instructor.last_name }}</td>
                            <td> Courses </td>
                            <td>{{ instructor.instructor_notes }}</td>
                            <td>
                                instructor_colour: <span ng-if="!instructor.edit"><span class="coloured_square" style="background: {{ instructor.instructor_colour }}"> &nbsp;</span></span> <span ng-if="instructor.edit"><input type="color" ng-model="instructor.new_colour" /> </span> <br />
                                booking_colour:
                                 <span ng-if="!instructor.edit"><span class="coloured_square" style="background: {{ instructor.booking_colour }}"> &nbsp;</span></span>
                                <span ng-if="instructor.edit"><input type="color" ng-model="instructor.new_booking_colour" /> </span>
                            </td>
                            <td>
                                <a ng-if="!instructor.edit" ng-click="instructor.edit = true;" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a> &nbsp; 

                                <a ng-if="instructor.edit" ng-click="vm.save_instructor(instructor)" uib-tooltip="Save"><i class="fa fa-save list_icons green"></i></a>
                                <!-- <a ng-click="open(plane.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a> -->
                            </td>
                        </tr>
                        <tr class="dndPlaceholder background_content_dnd">
                            <td colspan="5">
                              Drop Here
                            </td>
                          </tr>
                    </tbody>

                </table>

            </div>

        </div>


      <!--   <div class="club_docs">

        <h4>Booking Settings</h4>
            TBC

            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control inputtext" name="title" id="title" ng-model="vm.club.course.title" />
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control inputtext" name="description" id="description" ng-model="vm.club.course.description" />
            </div>


        </div> -->

</div>



        </div>
</div>