
<ui-view>

    <div class="centre_align_boxes2">


        <div class="home_upper">
            <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>AIRCRAFT MAINTENANCE</h2> 
            <h4 class="capitalise">
              Manage aircraft maintenance status
            </h4>
          </div>
        </div>

        <div class="club_docs">

<!--             <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.maintenance.add_maintenance">Add A Maintenance Issue</button>
 -->
            <div class="card">

                <table>
                    <tr>
                        <th>Registration</th>
                        <th>Type</th>
                        <th class="center_td">Hours Remaining</th>
                        <th class="center_td">Time Remaining</th>
                        <th class="center_td">ARC Certificate</th>
                        <th class="center_td">Radio</th>
                        <th class="center_td">Insurance</th>
                        <th>Manage</th>
                    </tr>

                    <tr ng-repeat="plane in vm.club.planes">
                        <td>{{ plane.registration }}</td>
                        <td>{{ plane.plane_type }}</td>
                        <td class="center_td"><span class="no_{{plane.maintenance.hours_status}}">{{ get_hours_from_decimal(plane.maintenance.hours_remaining) }}</span></td>
                        <td class="center_td"><span class="no_{{plane.certificate.status}}">{{ plane.certificate.days_to_expiry }}</span></td>
                        <td class="center_td"><span class="no_{{plane.certificate.status}}">{{ plane.certificate.date_expiry || "unknown" }}</span></td>
                        <td class="center_td"><span class="no_{{plane.radio_licence.status}}">{{ plane.radio_licence.date_expiry  || "unknown"}}</span></td>
                        <td class="center_td"><span class="no_{{plane.insurance.status}}">{{ plane.insurance.date_expiry  || "unknown"}}</span></td>
                        <td class="center_td"><a ui-sref="dashboard.manage_club.maintenance.detail({plane_id: plane.plane_id, club_id: '6', action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a></td>
                    </tr>

                </table>


            </div>

        </div>

        


    </div>

</ui-view>