MAINTENANCE ISSUE REVIEW
<br />

<!-- <button class="btn btn-info" ui-sref="dashboard.manage_club.add_plane">Add A Maintenance Issue</button>
 -->
<table>
    <tr class="table_header">
        <td>Registration</td>
        <td>Type</td>
        <td>Hours Remaining</td>
        <td>Time Remaining</td>
        <td>CofA</td>
        <td>Radio</td>
        <td>Insurance</td>
        <td>Manage</td>
        <td>Delete</td>
    </tr>

    <tr ng-repeat="plane in vm.club.planes">
        <td>{{ plane.registration }}</td>
        <td>{{ plane.plane_type }}</td>
        <td>Hours Remaining</td>
        <td>Time Remaining</td>
        <td>ARC</td>
        <td>Radio</td>
        <td>Insurance</td>
        <td><a ui-sref="dashboard.manage_club.maintenance.detail({plane_id: plane.plane_id, club_id: '6', action: 'edit'})">Manage</a></td>
    </tr>

</table>


<div>
   

</div>