<div class="centre_align_boxes2">

  <div class="home_upper">
    <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
        <div class="welcome_title">
          <h2>CLUB MEMBERSHIPS</h2> 
          <h4 class="capitalise">
            Manage the memberships you offer
          </h4>
        </div>
    </div>



    <span 
      data-text="Thanks for hovering! I'm a tooltip" 
      class="tooltip"
    >Hover over me!</span>
 

    <div class="club_docs bookingout_wrapper">
        <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.add_membership">Add a Membership</button>
        <div class="card">

           
            <table>
                <tr class="table_header">
                    <th>Membership Name</th>
                    <th>Payment Term</th>
                    <th>Currency</th>
                    <th>Price</th>
                    <th>Manage</th>
                    <th>Delete</th>
                </tr>

                <tr ng-repeat="membership in vm.club.memberships">
                    <td>{{ membership.membership_name }} <span ng-if="membership.passenger_only_default == 1"><i>(default pax)</i></span></td>
                    <td>{{ membership.payment_term }}</td>
                    <td>{{ membership.currency }}</td>
                    <td>{{ membership.price }}</td>
                    <td><a ui-sref="dashboard.manage_club.edit_membership({membership_id: membership.id, club_id: '6', action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a></td>
                    <td><a ng-if="membership.passenger_only_default == 0 && membership.is_admin == 0" ng-click="open(membership.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a><i class="fa fa-question" ng-if="membership.passenger_only_default == 1" uib-tooltip="You cannot delete the default passenger membership"></i>
                        <i class="fa fa-question" ng-if="membership.is_admin == 1" uib-tooltip="You cannot delete the administrator membership"></i>
                        
                    </td>
                </tr>

            </table>
        </div>


    </div>
</div>

