<div class="centre_align_boxes2">

  <div class="home_upper">
    <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
        <div class="welcome_title">
          <h2>CLUB MEMBERSHIPS</h2> 
          <h4 class="capitalise">
            Add a membership
          </h4>
        </div>
    </div>
    <div class="center_if_large club_docs bookingout_wrapper">

        <form>
            <div class="form-group">
                <label for="membership_name">Membership Name</label>
                <input type="text" class="form-control inputtext" name="membership_name" id="membership_name" ng-model="vm.club.membership.membership_name" required ng-focus="vm.clearFieldError($event)" />
            </div>


            <div class="form-group">
                <label for="payment_term">Payment Term</label>
             <!--    <input type="text" class="form-control inputtext" name="payment_term" id="payment_term" ng-model="vm.club.membership.payment_term" /> -->
                <select class="form-control inputtext" name="payment_term" id="payment_term" ng-model="vm.club.membership.payment_term" ng-change="vm.update_price()" required ng-focus="vm.clearFieldError($event)">
                    <option value="free">FREE</option>
                    <option value="daily">Daily</option>
                    <option value="monthly">Monthly</option>
                    <option value="annually">Annually</option>
                    <option value="once">One Off (lifetime)</option>
                </select>

            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control inputtext" name="price" id="price" ng-model="vm.club.membership.price" ng-disabled="vm.club.membership.payment_term == 'free'" />
            </div>

          <!--   <div class="form-group">
                <label for="currency">Currency</label>
                <input type="text" class="form-control inputtext" name="currency" id="currency" ng-model="vm.club.membership.currency" />
            </div> -->

            <div class="form-group">
                <label for="currency">Currency</label>
                <select class="form-control inputtext" name="currency" id="currency" ng-model="vm.club.membership.currency">
                    <option value="{{ vm.club.account_currency }}">{{ vm.club.account_currency }}</option>
                    <!-- <option value="EUR">EUR</option>
                    <option value="EUR">SEK</option> -->
                </select>

            </div>


            <div class="form-group">
                <label>Passenger Only Membership?</label> 
                <toggle-switch ng-model="vm.club.membership.passenger_only" on-label="Yes" off-label="No"></toggle-switch>
            </div>

            <div class="form-group" ng-if="vm.club.membership.passenger_only == 1">
                <label>Default Passenger Membership?</label> 
                <toggle-switch ng-model="vm.club.membership.passenger_only_default" on-label="Yes" off-label="No"></toggle-switch>
            </div>



            <div class="form-group" ng-if="vm.club.membership.passenger_only == 0">
                <label>Override plane access and fees?</label> 
                <toggle-switch ng-model="vm.club.membership.plane_access" on-label="Yes" off-label="No"></toggle-switch>
            </div>

            <div class="form-group">
                <label for="accounting_ref">Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="accounting_ref" id="accounting_ref" ng-model="vm.club.membership.accounting_ref" />
            </div>


            <div class="box" ng-if="vm.club.membership.plane_access == 1 && vm.club.membership.passenger_only == 0">

                <div class="card">
                    <table>
                        <tr>
                            <th>Plane Registration</th>
                            <th>Plane Type</th>
                            <th>Price Per Tacho Hour</th>
                            <th>Home Landing Fee</th>
                            <th>Home Touch &amp; Go Fee</th>
                            <th>Access</th>
                        </tr>
                        <tr ng-repeat="plane in vm.club_planes">
                            <td>{{plane.registration}}</td>
                            <td>{{plane.plane_type}}</td>
                            <td>
                                Default: {{plane.tacho_hour_fee}}
                                <br />
                                <input type="number" ng-model="plane.membership_tacho_hour_fee" placeholder="{{plane.tacho_hour_fee}}" />
                            </td>
                            <td>
                                Default: {{plane.landing_fee}}
                                <br />
                                <input type="number" ng-model="plane.membership_landing_fee" placeholder="{{plane.landing_fee}}" />
                            </td>
                            <td>
                                Default: {{plane.touch_and_go_fee}}
                                <br />
                                <input type="number" ng-model="plane.membership_touch_and_go_fee" placeholder="{{plane.touch_and_go_fee}}" />
                            </td>
                            <td>
                                <toggle-switch ng-model="plane.access" on-label="Yes" off-label="No"></toggle-switch>
                            </td>
                        </tr>


                    </table>
                </div>

            </div>




            
                    <div class="btns_bottom">

                                <button class="btn btn-info" ng-click="back()">Back</button>

                                <button class="btn btn-danger" ng-click="save()">Save</button>


                    </div>
        </form>
    </div>