
    <div class="centre_align_boxes_members">


          <div class="home_upper">
            <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
              <div class="welcome_title">
                <h2>MEMBERS</h2> 
                <h4 class="capitalise">
                  Manage your members
                </h4>
              </div>
          </div>

          <div class="club_docs">

                <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.add_member">Add a Member</button>


                <div class="card">
                    <form class="member_form">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search Tool" ng-model="searchToolMain">
                          </div>      
                        </div>
                    </form>
                    <table>
                        <tr>
                            <th>Select All <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                            <th>
                                <a href="#" ng-click="sortType = 'first_name'; sortReverse = !sortReverse">
                                   First Name
                                    <span ng-show="sortType == 'first_name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'first_name' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
                                   Last Name
                                    <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                   Email Address
                                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'membership'; sortReverse = !sortReverse">
                                   Membership
                                    <span ng-show="sortType == 'membership' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'membership' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'membership_start'; sortReverse = !sortReverse">
                                   Membership Started
                                    <span ng-show="sortType == 'membership_start' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'membership_start' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'membership_ends'; sortReverse = !sortReverse">
                                   Membership Ends
                                    <span ng-show="sortType == 'membership_ends' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'membership_ends' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'approved'; sortReverse = !sortReverse">
                                   Approved
                                    <span ng-show="sortType == 'approved' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'approved' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'manager'; sortReverse = !sortReverse">
                                   Manager
                                    <span ng-show="sortType == 'manager' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'manager' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'instructor'; sortReverse = !sortReverse">
                                   Instructor
                                    <span ng-show="sortType == 'instructor' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'instructor' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>Functions</th>
                        </tr>

                        <tr ng-repeat="member in vm.club.members | orderBy:sortType:sortReverse | filter:searchToolMain">
                            <td><input type="checkbox" ng-model="member.selected" /></td>
                            <td>{{ member.first_name }}</td>
                            <td>{{ member.last_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ (member.membership_id == 0) ? "Passenger" : member.membership_name }}</td>
                            <td>{{ member.membership_start }}</td>
                            <td>{{ member.membership_ends }}</td>
                            <td>{{ (member.approved == 1)? "YES" : "NO" }}</td>
                            <td>{{ (member.is_manager == 1)? "YES" : "NO" }}</td>
                            <td>{{ (member.instructor == 1)? "YES" : "NO" }}</td>
                            <td><a ui-sref="dashboard.manage_club.edit_member({member_id: member.id, club_id: vm.club_id, action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a></td>
                        </tr>
                    </table>


                <div class="card center_if_large">


                    <button class="btn btn-info" ng-click="selected_members('approve')">
                        Approved Selected
                    </button>

                    <button class="btn btn-info" ng-click="selected_members('disapprove')">
                        Disapprove Selected
                    </button>


                    <button class="btn btn-danger extra_space_top club_add_button" ui-sref="dashboard.manage_club.import_members">
                        Import Members
                    </button>

                </div>
            </div>
        </div>


</div>

<div ng-if="vm.show_loading" class="positioning-container2">
  <div class="airplane_center_loading">Loading...</div>
  <div class="spinning-container">
  <div class="airplane-container">
    <span class="fa fa-plane fa-2x"></span>
  </div>
  </div>
</div>