<ui-view>


  <div class="centre_align_boxes2">

    <div class="centre_align_boxes2">

          <div class="home_upper">
            <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
              <div class="welcome_title">
                <h2>PAYMENTS</h2> 
                <h4 class="capitalise">
                  See all your payments
                </h4>
              </div>
          </div>

        <div class="club_docs">

             <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.the_shop">Create Payment</button>

              <div class="card">


                    <table>
                        <tr class="table_header">
                            <th>User</th>
                            <th>Method</th>
                            <th>Amount</th>
                            <th>Invoice</th>               
                            <th>Functions</th>
                        </tr>

                        <tr ng-repeat="item in vm.payments">
                            <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                            <!-- <td>{{ item.purchase }}</td> -->
                            <td><span uib-tooltip="{{get_payment_description(item.payment_method)}}">{{ item.payment_method }}</span></td>
                            <td>{{ item.currency }} {{ item.amount }}</td>

                            <td>
                              <div ng-repeat="invoice in item.invoices">

                                 <a ng-if="invoice.plane_id == 0 && invoice.voucher_id == 0" href="api/v1/invoice_pdf/get_ad_hoc_invoice/{{ invoice.id }}" target="_blank">{{ invoice.invoice_number }}</a>

                                  <a ng-if="invoice.plane_id > 0" ng-repeat="invoice in item.invoices" href="api/v1/invoice_pdf/{{ invoice.id }}" target="_blank">{{ invoice.invoice_number }}</a>

                                   <a ng-if="invoice.voucher_id > 0" href="api/v1/invoice_pdf/pdf_items/{{ item.invoice_id }}" target="_blank">{{ item.invoice_number }}</a>

                              </div>
                             
                            

                            </td>

                            <td ng-if="item.purchase == 'flight'">
                              <!-- <a href="api/v1/invoice_pdf/{{ item.invoice_id }}" target="_blank">{{ item.invoice_number }}</a> -->
                             
                            </td>


                            <td ng-if="item.purchase == 'voucher'">
                             
                            </td>
                    
                            <td><a ng-click="open(item)" ng-if="item.payment_method == 'Stripe'">Refund Function</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

</ui-view>