<div class="centre_align_boxes2">


      <div class="home_upper">
        <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <div class="welcome_title">
            <h2>AIRCRAFT</h2> 
            <h4 class="capitalise">
              Manage your fleet
            </h4>
          </div>
      </div>

      <div class="club_docs">

            <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.add_plane">Add an Aircraft</button>

          <!--   <div class="card" ng-if="vm.club.planes.length > 0">
                <table>
                    <tr>
                        <th>Registration</th>
                        <th>Type</th>
                        <th>Functions</th>
                    </tr>

                    <tr ng-repeat="plane in vm.club.planes">
                        <td>{{ plane.registration }}</td>
                        <td>{{ plane.plane_type }}</td>
                        <td><a ui-sref="dashboard.manage_club.edit_plane({plane_id: plane.plane_id, club_id: '6', action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a> &nbsp; <a ng-click="open(plane.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a></td>
                    </tr>

                </table> -->


            <div class="card" ng-if="vm.club.planes.length > 0">
                <table>
                    <tr>
                       <th class="drag-handle-th"></th>
                       <th>Registration</th>
                        <th>Type</th>
                        <th>Functions</th>
                    </tr>
                    <tbody dnd-list="vm.club.planes">
                         <tr ng-repeat="plane in vm.club.planes" dnd-draggable="plane" dnd-moved="vm.club.planes.splice($index, 1);save_planes_order()">
                            <td class="drag-handle-cell"><i class="fa fa-grip-vertical drag-handle-icon"></i></td>
                            <td>{{ plane.registration }}</td>
                            <td>{{ plane.plane_type }}</td>
                            <td><a ui-sref="dashboard.manage_club.edit_plane({plane_id: plane.plane_id, club_id: '6', action: 'edit'})" uib-tooltip="Manage"><i class="fa fa-edit list_icons"></i></a> &nbsp; <a ng-click="open(plane.id)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a></td>
                        </tr>
                        <tr class="dndPlaceholder background_content_dnd">
                            <td colspan="4">
                              Drop Here
                            </td>
                          </tr>
                    </tbody>

                   <!--  <tbody dnd-list="vm.tem">
                      <tr ng-repeat="tem in vm.tem" dnd-draggable="tem" dnd-moved="vm.tem.splice($index, 1);save_tem_order()">
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.threat }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="title" id="title" ng-model="tem.threat" /></td>
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.consequence }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="consequence" id="consequence" ng-model="tem.consequence" /></td>
                        <td>
                          <span ng-if="!tem.edit_me">{{ tem.mitigation }}</span> 
                          <input ng-if="tem.edit_me" type="text" class="form-control inputtext" name="mitigation" id="mitigation" ng-model="tem.mitigation" /></td>
                        <td>
                          <a ng-if="!tem.edit_me" ng-click="vm.edit_tem($index)" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a> 
                          &nbsp; 
                          <a ng-if="!tem.edit_me" ng-click="vm.delete_tem(tem, $index)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a>
                          <a ng-if="tem.edit_me" class="btn btn-danger" ng-click="vm.update_cancel($index)">CANCEL</a>                        
                          <a ng-if="tem.edit_me" class="btn btn-primary" ng-click="vm.update_tem(tem, $index)">SAVE</a>                        
                        </td>
                    </tr>
                     <tr class="dndPlaceholder background_content_dnd">
                        <td colspan="3">
                          Drop Here
                        </td>
                      </tr>
                    </tbody> -->
                </table>
                <br /><br />
                
                <button class="btn btn-danger club_add_button" uib-tooltip="This will completely reset the Airframe, Engine and Prop logbooks for all aeroplanes listed above" ng-click="
                vm.reset_all_club_logs()">RESET ALL AEROPLANE LOGBOOKS</button>
                <br />
                <br />
                 <button class="btn btn-danger club_add_button" uib-tooltip="This will completely wipe any unclaimed flights, and rebuild these from the logs we hold on file." ng-click="
                vm.fix_uncombined()">FIX UNCOMBINED LOGS</button>

            </div>

            </div>
        </div>
</div>

<div ng-if="vm.show_loading" class="positioning-container">
  <div class="airplane_center_loading">Loading...</div>
  <div class="spinning-container">
  <div class="airplane-container">
    <span class="fa fa-plane fa-2x"></span>
  </div>
  </div>
</div><!--vm.show_loading = false; //-->