<div class="centre_align_boxes2">


    <div class="home_upper">
       <!--  <div class="back-box" ui-sref="dashboard.my_account">
          <i class="fa fa-arrow-circle-left"></i> BACK
        </div> -->
        
        <div class="welcome_title">
          <h2>{{ vm.aircraft.registration }} PROPELLER {{ vm.prop_no }} LOGBOOK</h2> 
          <h4 class="capitalise">
            See your prop logbook
          </h4>
        </div>
    </div>

                 
</div>
<div class="sub_section2 superwide">

    <div class="club_docs bookingout_wrapper">
        <div class="club_docs_all">
            <h2>Propeller</h2>

            <div class="cards33 fixed_height">
                <h4>Propeller Details</h4>

                <span class="upcoming_title">Manufacturer:</span><span class="upcoming_value"> {{ vm.propeller.make }}</span>
                <br />
                <span class="upcoming_title">Model:</span><span class="upcoming_value"> {{ vm.propeller.model }}</span>
                <br />
                <span class="upcoming_title">Serial No.:</span><span class="upcoming_value"> {{ vm.propeller.serial_no }}</span>
                <br />
                <span class="upcoming_title">Hours Between Overhaul:</span><span class="upcoming_value"> {{ vm.propeller.tbo_hours }}</span>
                <br />
            </div>

            <div class="cards33 fixed_height">
                <h4>Propeller Stats</h4>
                <span class="upcoming_title">Hours Remaining:</span><span class="upcoming_value"> {{ vm.propeller.hours_remaining | number:2 }}</span>
                <br />
                <span class="upcoming_title">Total Hours:</span><span class="upcoming_value"> {{ vm.propeller.total_hours | number:2 }}</span>
                <br />
              
                <span class="upcoming_title">Overhaul Calendar Date:</span><span class="upcoming_value"> {{ vm.propeller.tbo_date | asDate | date:"dd MMM yyyy" }}</span>
                <br />
            </div>

            <div class="cards33 fixed_height">
                <h4>Propeller Fitting</h4>
                <span class="upcoming_title">Date Fitted:</span><span class="upcoming_value"> {{ vm.propeller.date_fitted | asDate | date:"dd MMM yyyy" }}</span>
                <br />
                <span class="upcoming_title">Hours</span><span class="upcoming_value"> {{ vm.propeller.total_hours_at_start | number:2 }}</span>
                <br />
               
                <br />
            </div>



            <button class="btn btn-danger view_journey_logs" ng-click="vm.update_logbooks()">FORCE RECHECK LOGBOOK</button>  
            
        </div>
    </div>


    <div class="search_bar2">

        <input type="search" placeholder="Search Propeller Logs" ng-model="my_search2" class="form-control fifty_wide centre_me searching_logs" />

    </div>

                  <div class="card">

                    <div class="plane_docs_none centre_me" ng-if="vm.logs.length < 1">
                        There are presently no propeller log entries for this aircraft.
                    </div>



                    <div class="" ng-if="vm.logs.length > 0">
                        <table>
                            <tr>
                                <td class="bold_text">
                                    Date
                                </td>
                                <td class="bold_text centre_me">
                                    Flights
                                </td>
                                <td class="bold_text centre_me">
                                    Cycles
                                </td>
                                 <td class="bold_text centre_me">
                                    Hours Flown
                                </td>
                                <td class="bold_text centre_me">
                                    Total Time
                                </td>
                                
                                 <td class="bold_text centre_me">
                                    Maintenance Notes
                                </td>
                                <td class="bold_text centre_me">
                                    Maintenance PDF
                                </td>
                                <td class="bold_text centre_me">
                                   Generated At
                                </td>
                                
                            </tr>
                            <tr ng-repeat="log in vm.logs | filter: search2" vertical-align="middle">
                            
                                 <td class="log_no_break">
                                    {{ log.entry_date | asDate | date:"dd MMM yyyy" }}
                                </td>
                                <td class="centre_me">
                                    {{ log.flights }}
                                </td>
                                <td class="centre_me">
                                    {{ log.cycles }}
                                </td>
                                <td class="centre_me">
                                    {{ log.hours_flown | number:2 }}
                                </td>
                                <td class="centre_me">
                                    {{ log.total_hours | number:2 }}
                                </td>
                               
                                <td class="centre_me">
                                    {{ maintenance_notes }}
                                </td>
                                <td class="centre_me">
                                    {{ maintenance_pdf }}
                                </td>
                                <td class="centre_me">
                                    {{ log.created_at | asDate | date:"dd MMM yyyy" }}
                                </td>
                               

                            </tr>
                        </table>

                        <button class="btn btn-primary view_journey_logs" ng-if="!vm.all_loaded" ng-click="vm.load_more()">LOAD MORE</button>  
                        <p class="centre_me" ng-if="vm.all_loaded">You have loaded all the propeller logs...</p>

                    </div>



                </div>


</div>