<div class="centre_align_boxes2">

  <div class="home_upper">
    <div class="back-box" ui-sref="dashboard.manage_club.settings">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
        <div class="welcome_title">
          <h2>Company Details</h2> 
          <h4 class="capitalise">
            Manage your company details
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>
        <form>

    


             <div class="club_docs_all">
              <h2>Payment Integrations</h2>

                   <h3> STRIPE INTEGRATION IS COMPLETE</h3>
                    <br />
                    <!-- {{ vm.stripe_id }} -->


            </div>


<!--                 <button class="btn btn-danger btn_bigger bottom_btns" ng-click="save()">Save</button>
 -->                
                <div class="card center_if_large">
                    <div class="btns_bottom">
                        <button class="btn btn-danger btn_bigger" ui-sref="dashboard.manage_club.settings">Continue</button>
                    </div>
                </div>
           
        </form>
    </div>
</div>