<div class="centre_align_boxes2">

  <div class="home_upper">
    <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
        <div class="welcome_title">
          <h2>Company Details</h2> 
          <h4 class="capitalise">
            Manage your company details
          </h4>
          <!-- {{ vm.welcome_message }} -->
      </div>
    </div>
        <form>

    <div class="club_docs_all">

      <h2>Company Details</h2>
      <div class="center_if_large">

            <div class="form-group fgtwo centre_content_uploader extra_space_top extra_space_bottom">

                <div flow-init
                       flow-files-submitted="$flow.upload()"
                       flow-file-success="$file.file_return = $message"
                       flow-complete="processFiles($flow.files, 'logo')"
                       flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                       class="area_drop"
                       >
                        <div class="drop area_drop" flow-btn flow-drop ng-class="dropClass">     

                            <div class="cover_avatar" ng-if="vm.club.settings.logo">
                                <img ng-src="{{ vm.club.settings.logo }}" class="avatar">
                            </div>

                            <div ng-if="!vm.club.settings.logo" class="avatar_upload_text">
                                Click To Upload 
                                <br />OR<br /> 
                                Drag And Drop
                                <br /> 
                                Your Company Logo
                            </div>
                        </div>
                </div>
            </div>
            

             <div class="form-group fgtwo extra_space_top" uib-tooltip="If you need to change this - please contact us">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control" name="company_name" id="company_name" ng-model="vm.club.settings.company_name" disabled="true" />
            </div>


            <div class="form-group fgtwo" uib-tooltip="If you need to change this - please contact us">    
                <label for="company_number">Company Number</label>
                <input type="text" class="form-control" name="company_number" id="company_number" ng-model="vm.club.settings.company_number" disabled="true" />
            </div>

            <div class="form-group fgtwo">
                <label for="title">Trading As</label>
                <input type="text" class="form-control" name="title" id="title" ng-model="vm.club.settings.title" />
            </div>
            

            <div class="form-group fgtwo">
                <label for="website">Website URL</label>
                <input type="text" class="form-control" name="website" id="website" ng-model="vm.club.settings.website" />
            </div>


            <div class="form-group fgtwo">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" ng-model="vm.club.settings.email" />
            </div>

            <div class="form-group fgtwo">
                <label for="vat_registered">Is The Company VAT Registered?</label>
                <input type="checkbox" class="form-control" name="vat_registered" id="vat_registered" ng-model="vm.club.settings.vat_registered" />
             </div>


            <div class="form-group fgtwo"  ng-if="vm.club.settings.vat_registered">
                <label for="vat_number">VAT Number</label>
                <input type="text" class="form-control" name="vat_number" id="vat_number" ng-model="vm.club.settings.vat_number" />
            </div>


            <div class="form-group fgtwo" ng-if="vm.club.settings.vat_registered">
                <label for="vat_rate">Standard VAT Rate %</label>
                <input type="number" class="form-control" name="vat_rate" id="vat_rate" ng-model="vm.club.settings.vat_rate" />
            </div>

            <div class="form-group fgtwo">
                <label for="address">Registered Address</label>
                <textarea id="address" class="form-control inputtext" ng-model="vm.club.settings.address"></textarea>
            </div>


          </div>
        </div>
        <div class="club_docs_all">

        <h2>Company Invoice Details</h2>
        <div class="center_if_large">

            <div class="form-group">
                <label for="billing_cycle">Billing Cycle</label>
                <select class="form-control inputtext" ng-model="vm.club.settings.billing_cycle">
                  <option disabled="disabled">Please Choose</option>
                  <option value="daily" ng-selected="vm.club.settings.billing_cycle == 'daily'">Daily</option>
                  <option value="weekly" ng-selected="vm.club.settings.billing_cycle == 'weekly'">Weekly</option>
                  <option value="monthly" ng-selected="vm.club.settings.billing_cycle == 'monthly'">Monthly</option>
                </select>
            </div>

            <div class="form-group fgtwo">
                <label for="invoice_start" uib-tooltip="This is the prefix for the invoice sequential numbering">Invoice Begins With</label>
                <input type="text" class="form-control" name="invoice_start" id="invoice_start" ng-model="vm.club.settings.invoice_start" />
            </div>

         
            <div class="card centre_content_uploader extra_space_top">

                <h5>Invoice Logo</h5>

                <div flow-init
                       flow-files-submitted="$flow.upload()"
                       flow-file-success="$file.file_return = $message"
                       flow-complete="processFiles($flow.files, 'invoice_logo')"
                       flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                       class="area_drop"
                       >
                        <div class="drop area_drop" flow-btn flow-drop ng-class="dropClass">     
                            <div class="cover_avatar" ng-if="vm.club.settings.invoice_logo">
                                <img ng-src="{{ vm.club.settings.invoice_logo }}" class="avatar">
                            </div>

                            <div ng-if="!vm.club.settings.invoice_logo" class="avatar_upload_text">
                                Click To Upload 
                                <br />OR<br /> 
                                Drag And Drop
                                <br /> 
                                Your Invoice Logo
                            </div>
                        </div>
                </div>
            </div>

            <div class="form-group fgtwo">
                <label for="vat_registered" uib-tooltip="This ensures that the user is presented with a clean explanation of the charges for the flight without showing a separate surcharge line, but with a -5mins and +5mins on the charged line for aircaft line, and a logbook time shown below">Clean "TPC style" Flat Taxi Surcharge on Invoices?</label>
                <input type="checkbox" class="form-control" name="tpc_aircraft_surchages" id="tpc_aircraft_surchages" ng-model="vm.club.settings.tpc_aircraft_surchages" />
            </div>

          </div>
        </div>

        <div class="club_docs_all">
          <h2>Membership Terms & Conditions</h2>

            <div class="form-group center_if_large">
                          <span for="licence_type" ng-if="!vm.club.settings.membership_terms">Please upload your membership terms in PDF format</span>
                          <br />

                          <div class="form-group centre_content_uploader">
                            <div 
                                flow-init="{target: '/upload_documents.php', singleFile: true}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.file_return = $message"
                             flow-complete="processFiles2($flow.files, 'membership')"
                             flow-file-limit="1"
                             flow-file-added="!!{pdf:1}[$file.getExtension()]">
                                <div class="drop" flow-btn flow-drop ng-class="dropClass" ng-if="!vm.club.settings.membership_terms && $flow.files.length < 1">     
                                    Click To Upload 
                                    <br />OR<br /> 
                                    Drag And Drop Your Document
                                </div>

                                <div ng-repeat="file in vm.uploaded_document" class="gallery-box">
                                    <span class="title">{{file.name}}</span>
                                    <div class="thumbnail">
                                      <img src="{{get_icon2(vm.uploaded_document.file)}}" />
                                    </div>
                                </div>


                                <div ng-repeat="file in $flow.files" class="gallery-box" ng-if="!vm.club.settings.membership_terms">
                                  <span class="title">{{file.name}}</span>
                                  <div class="thumbnail" ng-show="$flow.files.length">
                                        <img src="{{get_icon(file.file)}}" />
                                  </div>
                                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}" ng-if="(file.progress() * 100) < 100">
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuenow="{{file.progress() * 100}}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         ng-style="{width: (file.progress() * 100) + '%'}">
                                      <span class="sr-only">{{file.progress()}}% Complete</span>
                                    </div>
                                  </div>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="file.cancel(); remove_file(file, $flow.files);"  ng-if="(file.progress() * 100) == 100">
                                      Delete
                                    </a>
                                  </div>
                                </div>

                                 <div class="gallery-box" ng-if="vm.club.settings.membership_terms">
                                  <div class="thumbnail" ng-click="downloadClubDocument(vm.club.settings.membership_terms)">
                                        <img src="{{get_icon(vm.club.settings.membership_terms)}}" />
                                  </div>
                                  <span class="title">Updated: {{vm.club.settings.membership_updated | asDate | date:"dd MMM yyyy HH:mm"}}</span>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="delete_file('membership');">
                                      Delete
                                    </a>
                                  </div>
                                </div>


                          <div class="clear"></div>
                            
                        </div>
                      </div>
                          
                    

          </div>
        </div>


        <div class="club_docs_all">
          <h2>Passenger Terms & Conditions</h2>

          <div class="form-group center_if_large">
                          <span for="licence_type" ng-if="!vm.club.settings.passenger_terms">Please upload passenger terms in PDF format</span>
                          <br />

                          <div class="form-group centre_content_uploader">
                            <div 
                                flow-init="{target: '/upload_documents.php', singleFile: true}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.file_return = $message"
                             flow-complete="processFiles2($flow.files, 'passenger')"
                             flow-file-limit="1"
                             flow-file-added="!!{pdf:1}[$file.getExtension()]">
                                <div class="drop" flow-btn flow-drop ng-class="dropClass" ng-if="!vm.club.settings.passenger_terms && $flow.files.length < 1">     
                                    Click To Upload 
                                    <br />OR<br /> 
                                    Drag And Drop Your Document
                                </div>

                                <div ng-repeat="file in vm.uploaded_document" class="gallery-box">
                                    <span class="title">{{file.name}}</span>
                                    <div class="thumbnail">
                                      <img src="{{get_icon2(vm.uploaded_document.file)}}" />
                                    </div>
                                </div>


                                <div ng-repeat="file in $flow.files" class="gallery-box" ng-if="!vm.club.settings.passenger_terms">
                                  <span class="title">{{file.name}}</span>
                                  <div class="thumbnail" ng-show="$flow.files.length">
                                        <img src="{{get_icon(file.file)}}" />
                                  </div>
                                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}" ng-if="(file.progress() * 100) < 100">
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuenow="{{file.progress() * 100}}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         ng-style="{width: (file.progress() * 100) + '%'}">
                                      <span class="sr-only">{{file.progress()}}% Complete</span>
                                    </div>
                                  </div>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="file.cancel(); remove_file(file, $flow.files);"  ng-if="(file.progress() * 100) == 100">
                                      Delete
                                    </a>
                                  </div>
                                </div>


                                 <div class="gallery-box" ng-if="vm.club.settings.passenger_terms">
                                  <div class="thumbnail" ng-click="downloadClubDocument(vm.club.settings.passenger_terms)">
                                        <img src="{{get_icon(vm.club.settings.passenger_terms)}}" />
                                  </div>
                                  <span class="title">Updated: {{vm.club.settings.passenger_updated | asDate | date:"dd MMM yyyy HH:mm"}}</span>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="delete_file('passenger');">
                                      Delete
                                    </a>
                                  </div>
                                </div>


                          <div class="clear"></div>
                            
                        </div>
                      </div>
                          
                    

          </div>
        </div>


        <div class="club_docs_all">
          <h2>Privacy Policy</h2>

          <div class="form-group center_if_large">
                          <span for="licence_type" ng-if="!vm.club.settings.privacy_terms">Please upload privacy policy in PDF format</span>
                          <br />

                          <div class="form-group centre_content_uploader">
                            <div 
                                flow-init="{target: '/upload_documents.php', singleFile: true}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.file_return = $message"
                             flow-complete="processFiles2($flow.files, 'privacy')"
                             flow-file-limit="1"
                             flow-file-added="!!{pdf:1}[$file.getExtension()]">
                                <div class="drop" flow-btn flow-drop ng-class="dropClass" ng-if="!vm.club.settings.privacy_terms && $flow.files.length < 1">     
                                    Click To Upload 
                                    <br />OR<br /> 
                                    Drag And Drop Your Document
                                </div>

                                <div ng-repeat="file in vm.uploaded_document" class="gallery-box">
                                    <span class="title">{{file.name}}</span>
                                    <div class="thumbnail">
                                      <img src="{{get_icon2(vm.uploaded_document.file)}}" />
                                    </div>
                                </div>


                                <div ng-repeat="file in $flow.files" class="gallery-box" ng-if="!vm.document.id">
                                  <span class="title">{{file.name}}</span>
                                  <div class="thumbnail" ng-show="$flow.files.length">
                                        <img src="{{get_icon(file.file)}}" />
                                  </div>
                                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}" ng-if="(file.progress() * 100) < 100">
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuenow="{{file.progress() * 100}}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         ng-style="{width: (file.progress() * 100) + '%'}">
                                      <span class="sr-only">{{file.progress()}}% Complete</span>
                                    </div>
                                  </div>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="file.cancel(); remove_file(file, $flow.files);"  ng-if="(file.progress() * 100) == 100">
                                      Delete
                                    </a>
                                  </div>
                                </div>

                                 <div class="gallery-box" ng-if="vm.club.settings.privacy_terms">
                                  <div class="thumbnail" ng-click="downloadClubDocument(vm.club.settings.privacy_terms)">
                                        <img src="{{get_icon(vm.club.settings.privacy_terms)}}" />
                                  </div>
                                  <span class="title">Updated: {{vm.club.settings.privacy_updated | asDate | date:"dd MMM yyyy HH:mm"}}</span>
                                  <div class="btn-group center">
                                    <a class="btn btn-xs btn-danger" ng-click="delete_file('privacy');">
                                      Delete
                                    </a>
                                  </div>
                                </div>

                          <div class="clear"></div>
                            
                        </div>
                      </div>
                          
                    

          </div>
        </div>


        <div class="club_docs_all">
              <h2>Accounting</h2>

              <div class="form-group">
                <label for="plane_class">VAT Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="vat_accounting_ref" id="vat_accounting_ref" ng-model="vm.club.settings.vat_accounting_ref" />
              </div>

              <div class="form-group">
                <label for="plane_class">STRIPE Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="stripe_accounting_ref" id="stripe_accounting_ref" ng-model="vm.club.settings.stripe_accounting_ref" />
              </div>

              <div class="form-group">
                <label for="plane_class">GOCARDLESS Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="gcl_accounting_ref" id="gcl_accounting_ref" ng-model="vm.club.settings.gcl_accounting_ref" />
              </div>

              <div class="form-group">
                <label for="plane_class">Instructor Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="instructor_accounting_ref" id="instructor_accounting_ref" ng-model="vm.club.settings.instructor_accounting_ref" />
              </div>

              <!-- <div class="form-group" ng-if="vm.club.member.instructor">
                <label for="plane_class">Instructor Accounting Ref</label>
                <input type="text" class="form-control inputtext" name="accounting_ref" id="accounting_ref" ng-model="vm.club.member.instructor_accounting_ref" />
              </div> -->

            </div>



             <div class="club_docs_all">
              <h2>Payment Integrations</h2>

                    <div class="form-group" ng-if="!vm.club.settings.stripe_id || vm.club.settings.stripe_id == ''">

                        <button class="btn btn-primary btn_bigger" ng-click="vm.generate_stripe_link()" ng-disabled="vm.called_stripe_setup">Setup Stripe Integration</button>

                    </div>
                    <div class="form-group" ng-if="vm.club.settings.stripe_id && vm.club.settings.stripe_id !== ''">
                        
                        
                        Stripe is already integrated - want to change it?
                        <br />
                        <button class="btn btn-danger btn_bigger" ng-click="vm.generate_stripe_link()" ng-disabled="vm.called_stripe_setup">Change Stripe Integration</button>
                    </div>

            </div>


<!--                 <button class="btn btn-danger btn_bigger bottom_btns" ng-click="save()">Save</button>
 -->                
                <div class="card center_if_large">
                    <div class="btns_bottom">
                        <button class="btn btn-info btn_bigger" ng-click="back()">Back</button>
                        <button class="btn btn-danger btn_bigger" ng-click="save()">Save</button>
                    </div>
                </div>
           
        </form>
    </div>
</div>