<div class="centre_align_boxes2">

  <div class="home_upper">
        <div class="welcome_title">
            <div class="back-box" ui-sref="dashboard.manage_club">
              <i class="fa fa-arrow-circle-left"></i> BACK
            </div>
          <h2>CLUB-SHOP ITEMS</h2> 
          <h4 class="capitalise">
            Manage your shop for purchase
          </h4>
        </div>
    </div>

    <div class="club_docs bookingout_wrapper">

    <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.add_shop_item">Add Shop Item</button>
        
        <div class="card">
            <table>
                <tr class="table_header">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</td>
                    <th>Vat Rate</td>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <tr ng-repeat="item in vm.club.items">
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.vat_rate }}%</td>
                    <td><a ui-sref="dashboard.manage_club.edit_shop_item({item_id: item.id, action: 'edit'})" uib-tooltip="Edit"><i class="fa fa-edit list_icons"></i></a></td>
                    <td><a ng-click="delete(item)" uib-tooltip="Delete"><i class="fa fa-trash-alt list_icons"></i></a></td>
                </tr>

            </table>
        </div>

    </div>
</div>