<ui-view>

    <div class="centre_align_boxes2">


          <div class="snazzy-page__header">
            <div class="snazzy-page__header-inner">
              <div class="back-box" ui-sref="dashboard.manage_club">
                <i class="fa fa-arrow-circle-left"></i> BACK
              </div>
              <div class="snazzy-page__title">
                <h2><i class="fas fa-ticket-alt"></i> VOUCHERS</h2>
                <p>Air Experience Vouchers</p>
              </div>
            </div>
          </div>

  <!-- Vouchers hub tab bar; hides itself on the add/edit child states. -->
  <div class="mchub-nav-host" ng-include="'views/manageclub/_vouchers_nav.html'"></div>

          <div class="club_docs">

            <button class="btn btn-info club_add_button" ui-sref="dashboard.manage_club.vouchers.add">Add A Voucher</button>

            <div class="card">
                <table>
                    <tr class="table_header">
                        <th>Person</th>
                        <th>Voucher</th>
                        <th>Experience</th>
                        <th>Price Paid</th>
                        <th>Payment Method</th>
                        <th>Expiry Date</th>
                        <th>Redeemed</th>
                        <th>Management</th>
                    </tr>

                    <tr ng-repeat="item in vm.club.items">
                        <td>{{ item.first_name }} {{ item.last_name }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.experience_title }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.payment_method }}</td>
                        <td>{{ item.expiry_date }}</td>
                        <td>{{ (item.redeemed == 0)? 'Not Yet' : 'Yes' }}</td>
                        <td>
                            <a ui-sref="dashboard.manage_club.vouchers.edit({id: item.id, action: 'edit'})">Edit</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</ui-view>