<div>
  <div class="inv-success">
    <div class="inv-success__icon">
      <i class="fa fa-check"></i>
    </div>
    <h3 class="inv-success__title">GoCardless &amp; ToAviate Integration Complete</h3>
    <p class="inv-success__text">
      Thank you for completing your payment system setup. Once your account is verified by GoCardless, you will be able to get paid by your members automatically via direct debits. This will enable you to get paid the correct amount with full payment reconciliation with no effort required from you!
    </p>
  </div>

  <p class="inv-subtitle">
    Should you wish to also accept Debit &amp; Credit Card payments, we also offer a seamless integration with Stripe. Click the link below to setup debit and credit card payments for your account. You can also do this later from your ToAviate account.
  </p>

  <!-- Buttons -->
  <div class="inv-btn-group">
    <!-- <a class="inv-btn inv-btn--secondary" one-ui-sref="verify_account" ng-click="checkValid(); $event.stopPropagation();">
      <i class="fa fa-credit-card"></i> Setup Card Payments
    </a> -->
    <a class="inv-btn inv-btn--primary" one-ui-sref="verify_account" ui-sref="club_signup2.complete">
      Finish Setup <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>