<div class="main_div">
  
  <div id="main_header2">

    <div id="main_title">
      <img src="images/main_logo.png" alt="ToAviate" id="main_logo1" />
    </div>

    <ul id="main_menu">
      <!-- <li><a ui-sref="dashboard.manage_club">Manage Club</a></li>
      <li><a ui-sref="dashboard.manage_club">Manage Club</a></li> -->
      <li><a href="https://toaviate.com">Main Website</a></li>
      <li><a ui-sref="login">Login</a></li>
    </ul>

  </div>


    <div class="centre_align_boxes2">

   <!--  <div ui-view id="dashboard_bit" class="centre_align_boxes2">
      <div class="centre_content">
        <div class="main_select_box" ui-sref="dashboard.manage_club" ng-if="vm.user.access.show_manager">
        CLUBS
        </div>

        <div class="main_select_box" ui-sref="dashboard.manage_user" ng-if="vm.user.access.show_instructor">
        INSTRUCTOR
        </div>

        <div class="main_select_box" ui-sref="dashboard.my_account" ng-if="vm.user.access.show_booking">
        PILOT
        </div>

        <div class="main_select_box" ui-sref="dashboard.my_account" ng-if="!vm.user.access.show_booking">
        USER DETAILS
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">
        
            <div class="page-header text-center">
                <h2>Signup Your Organisation (part 2)</h2>
                
                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".verify"><span>5</span> Verification</a>
                    <a ui-sref-active="active"><span>6</span> Payments</a>
                    <a ui-sref-active="active"><span>7</span> Confirmation</a>
                    <a ui-sref-active="active" ui-sref=".complete"><span>8</span> Completed</a>
                </div>
            </div>
            
            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" ng-submit="processForm()">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>
        
        </div>
        
        <!-- show our formData as it is being typed -->
       <!--  <pre>
          {{ formData }}
        </pre> -->

      </div>
    </div>

  </div>


</div>




