<div class="text-center">
<!--     <span class="glyphicon glyphicon-heart"></span>
 -->    

<!-- 	<br />
 	<br />
 
 	<h2>Start your FREE <br /> 3 months trial today!</h2>

 	<br />
 	<br /> -->
    	
 <!-- 	<p>
 		Once your free trial period has started you will be given the option to signup fully to our software.

 		The pricing for our software is currently £10 +VAT per month, after the free trial ends. There will be annual variations in order for us to be able to keep providing you with the best software for flight clubs we possibly can.
 	</p> -->

 	<h2>Terms &amp; Conditions</h2>


 	<!-- <p>
 		Should you require specific features, or have any suggestions on how to improve our systems, we would be more than happy to consider these, and put them on our roadmap.
 	</p>

 	<p>
 		After completing this part of the sign-up process, you will be asked to confirm your email and mobile number before being able to setup your payment integration.
 	</p> -->
 	<p>
 		Please read carefully our terms and conditions.
 	</p>

 	<div class="form-group">
	    <div class="checkbox">
	        <label>
	           <input type="checkbox" ng-model="formData.tnc" value="tnc" checked required>
	           I have read, understand and agree to the full <a ng-click="downloadClubDocument()">terms and conditions</a> and <a ng-click="downloadClubDocument()">terms of service</a> of the software.
	        </label>
	    </div>
	</div>

	<br />
 	<br />

    <a one-ui-sref="verify_account" ng-click="checkValid(); $event.stopPropagation();" class="btn btn-block btn-info">
    I AGREE TO THE TO AVIATE TERMS &amp; CONDITIONS
    </a>

    <div id="error_message">
        
    </div>

</div>