<div>
  <h2 class="inv-title">Terms &amp; Conditions</h2>
  <p class="inv-subtitle">Should you require specific features, or have any suggestions on how to improve our systems, we would be more than happy to consider these, and put them on our roadmap.</p>

  <!-- T&C agreement -->
  <label class="inv-agreement" ng-class="{'inv-agreement--checked': formData.tnc, 'inv-agreement--error': formErrors.tnc}">
    <input type="checkbox" ng-model="formData.tnc" ng-change="clearFormError('tnc')" required>
    <div class="inv-agreement__check"></div>
    <div class="inv-agreement__text">
      I have read, understand and agree to the full <a>Terms &amp; Conditions</a> and <a>Terms of Service</a> of the software.
    </div>
  </label>

  <!-- Buttons -->
  <div class="inv-btn-group">
    <a class="inv-btn inv-btn--primary" one-ui-sref="verify_account" ng-click="checkValid(); $event.stopPropagation();">
      <i class="fa fa-check-circle"></i> Sign Up Now
    </a>
  </div>
</div>