<div class="text-center">
<!--     <span class="glyphicon glyphicon-heart"></span>
 -->    

<!-- 	<br />
 	<br />
 
 	<h2>Start your FREE <br /> 3 months trial today!</h2>

 	<br />
 	<br /> -->
    	
 <!-- 	<p>
 		Once your free trial period has started you will be given the option to signup fully to our software.

 		The pricing for our software is currently £10 +VAT per month, after the free trial ends. There will be annual variations in order for us to be able to keep providing you with the best software for flight clubs we possibly can.
 	</p> -->

 	<h3>Signup Complete!</h3>


 
 	<p>
 		Congratulations for signing up To Aviate, we have worked hard to make the sign-up procecss as painless as possible, should you have any suggestions, or recommendations, we would be more than happy to hear from you, please feel free to email us at: suggestions@toaviate.com.
 	</p>
 	<h2>So what happens next?</h2>
 	<p>
 		Over the next 24 to 48 hours, our payment processor partner: GoCardless will validate all your information - verify your account details with the £0.01 transfer and once that is complete, your account will be approved. Once approved you will be able to start receiving your first payment!
 	</p>
 	<p ng-if="stripe_payment_too">
 		If you setup the integration with our credit and debit card payment processor partner: Stripe will validate all your information, this usually takes a similar amount of time to GoCardless. Once both are approved, you will be able to start receiving your first payment.
 	</p>
 	<p>
 		During this approval process, we would recommend that you start setting up your Club / School / Group. We recommend that you do the following:
 	</p>
 	<ul>
 		<li>Order your FoxAvionix Box</li> 
 		<li>Setup your aircraft</li> 
 		<li>Setup your memberships</li>
 		<li>Setup your additional fees</li>
 		<li>Upload your Operations Manual</li>
 		<li>Import all your users</li>
 	</ul>
 	<p>
 		If you require help in digitising your aircraft documents, please get in touch - we will gladly help you for a one of fee of £20 (+vat) per aircraft + 1 landing fee at your home airfield (for us to get there). 
 	</p>
 	
 	

	<br />
 	<br />

    <a one-ui-sref="verify_account" ng-click="go_to_login()" class="btn btn-block btn-info">
    	LOGIN TO AVIATE
    </a>

    <div id="error_message">
        
    </div>

</div>